[2019-09-11 13:51] Mellas84 opened #4 "Media Query"
Everythig worked brilliant, until it didnt. I can style everything through a css file but cant modify any component inside the lightbox with media queries. Any other component i can style just fine.

[2019-09-11 13:58] michelecocuccio commented on #4
Hello @Mellas84.

Can you tell me exactly what are you trying to modify? When you say "components inside the lightbox" you mean like the buttons and the image? if you can describe what you are trying to do and maybe put the code on a code-sandbox it will be great.

Thanks

[2019-09-11 14:00] Mellas84 commented on #4
im trying to change the width and height of the images, i just tried with display:none and it worked like it should

[2019-09-11 14:23] Mellas84 commented on #4
oh well, i cant seem to edit any position attribute, width or height from @media, but transform seems to work brilliantly so ill just use that for the time being i guess.

[2019-09-11 14:53] michelecocuccio commented on #4
Ok @Mellas84. I am glad you found this solution.

I will probably add an option to resize the images if this becomes a requested feature. I strongly suggest to not change the size of the images as this might have unexpected consequences.

Many thanks :)

[2019-09-11 14:53] #4 closed

[2019-10-09 21:15] Stallind opened #5 "Lightbox image size"
Hi

I wonder if you included some kind of image size option inside the lightbox?

Having a full-size picutre on the site being morphed into something smaller inside the lightbox is a bit weird to me. :) Thanks

[2019-10-10 12:05] LeunensMichiel opened #7 "Prop for controlling opening speed"
Hi! This looks like a very promising lightbox. Tested it and looks good. The one thing missing for me is a prop for controlling the speed when clicking on an image. Only the speed between images is configurable right now. But I'd like the lightbox to "pop-up" a bit faster.

Again, great work!

[2019-10-10 13:09] michelecocuccio commented on #7
Hello!
Thank you very much for your feedback! I think that's will be my next implementation. So you mean the speed of the opening of the light-box itself?

[2019-10-10 17:01] LeunensMichiel commented on #7
Yes, correct!

[2019-10-10 19:27] Stallind commented on #5
I didn't think about the aspect ratio. It makes perfect sense and it "feels" correct. However I feel like it would be nice with a feature to keep the source image size,
Pink=Lightbox,
Black= Google drive:
https://gyazo.com/682618c285613339a0670e5d9482892b

Also there's something I still would like to request some help on. In the gif below my navbar gets a weird efffect upon opening the lightbox. I

[2019-10-11 11:45] michelecocuccio commented on #5
Hello @Stallind,
ok that's an interesting feature and I could add a Fullscreen option to the image.

Regarding the second issue is because I am setting the overflow to "hidden" to the body of the page when opening the LightBox to prevent unwanted scroll. For this reason the scrollbar on your page is removed and you see the body moving by 15px. I will amend this issue soon I guess it was a previous

[2019-11-25 14:20] michelecocuccio commented on #7
Added on Version 2.0 with the option ```transitionSpeed```

[2019-11-25 14:20] #7 closed

[2019-11-25 14:22] michelecocuccio commented on #5
Added with version 2.0. I have added a full-screen button to open the image as full-screen.

[2019-11-25 14:22] #5 closed

[2020-01-09 08:30] SaliMike opened #9 "Support in showing / hiding all controls"
It would be useful to support showing / hiding fullscreen button (showFullscreen) and autoplay button (showAutoplay). When they are not needed. Currently they cannot be turned off.

[2020-01-09 08:37] SaliMike opened #10 "Support for caption positioning"
It would be worth introducing the caption position (top / bottom). Currently, the location is under the photo, there is no option above the photo.

[2020-01-09 10:03] michelecocuccio commented on #9
Hello @SaliMike. Thanks for your feedback!

Autoplay can be hidden if you set the value to be 0. As per the documentation: "Set it to 0 if you don't want to use the auto play functionality and hide the button". Regarding hiding the full-screen button I will do it on the next release.

Thanks

[2020-01-09 10:03] #9 closed

[2020-01-09 10:04] michelecocuccio commented on #10
Hi @SaliMike.
Thanks for your feedback. Usually in a light-box the caption is below the image but I like your idea. I will think about implementing this on the next release. Thanks!

[2020-01-09 10:04] #10 closed

[2020-01-22 18:37] ds-codemag opened #11 "Doesn't work with gatsby-image when using the Gallery approach"
As in title. It doesn't work with gatsby-image e.g <Img fluid={src} /> gatsby creates something like:

[code]

And i get warning:
"HEY!. You have 10 links and 20 images. You likely forgot to add the data-attribute="SRL" to one of your link wrapping your image!"

And error:
"Cannot read property 'alt' of undefined"

When I don't use gatsby-image component only img html tag everything works fine.

[2020-01-23 10:05] michelecocuccio commented on #11
Hello, thanks @ds-codemag .
Yeah the Gatsby image structure is pretty complex so is not supported at the moment. They have two images and also in base64 so I will need to see if there is a way I can support this.

I will see what I can do, is not a "bug" per se but I will consider implementing this as well.

Thanks

[2020-01-23 10:49] michelecocuccio commented on #11
@ds-codemag Regarding the error:
"Cannot read property 'alt' of undefined"
can you update it to the last version as I have fixed a bug yesterday in case an alt tag wasn't provided

Thanks

[2020-01-28 03:14] ajCastiglione opened #12 "Does not work well on mobile within a gallery"
When using this lightbox with an image gallery, there is no easy way to click out of the image leading to poor UX.

[2020-01-28 10:28] michelecocuccio commented on #12
Hey @ajCastiglione.

Thanks for the feedback. I get your point. I wanted the image on mobile to be as big as they could matching the aspect ratio of the device. I don't want the images to be small on mobile devices. Therefore the outer div is sometimes really big and it prevents closing the light-box on a mobile. I will see how to improve this in the future but you can always use the provided clos

[2020-01-28 18:00] fearlex opened #13 "Warning: Can't perform a React state update on an unmounted component."
Great Component, works as expected but I get the following warning within my ap.

Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in a useEffect cleanup function.

![Screen Shot 2020-01-28 at 12 52 30 PM](https://user-images.githubusercontent.com/89010

[2020-01-28 18:40] michelecocuccio commented on #13
Hello. I am not sure this is coming from my light-box to be honest. I don't have any async task. Can you please reproduce an example on a CodeSandbox environment or if you have public repo share it with me so I can have a look? I never got this error with all my testing so it's difficult for me to reproduce it.

[2020-01-28 18:41] #12 closed

[2020-01-28 20:55] fearlex commented on #13
Appreciate the help. This is coming from the modal overlay dependency. I'm not doing anything crazy other than calling some data on ComponentDidMount. Either way, I can use this component as all we need is an image to open up, no gallery or anything at all per the clients requirement. I appreciate the help and will use it again in the future. Great Work.

[2020-01-28 20:55] #13 closed

[2020-02-01 17:22] rommelmamedov opened #14 "Video Support ? 🥺"
Hi, it is a great component! I have one question about video support, are there any plans about that in the future?

[2020-02-07 10:35] arch-stefanozanetti opened #15 "differentiate thumbnail from gallery-image when in lightbox mode."
Hi, first of all: great plugin!

i just have a question. I'm implementing a lightbox gallery that needs to have a logo as thumbnail and an image as lightbox image.
Imagine that i need to have some thumbnail with logos of mercedes, ferrari, bmw and when I click on a logo I need to see the car image.
This is super simple o achieve using the "GALLERY WITH LINKS" option, But, when I'm in lightbox mode

[2020-02-07 19:13] michelecocuccio commented on #15
Hi @arch-stefanozanetti.

The anchor tag is going to be the image you want to open in the light-box, the img is going to be the thumbnail.

[code]

If you test it in the CodeSandbox example that I have created it works as intended :)

[2020-02-07 19:14] michelecocuccio commented on #14
@rommelmamedov Thanks for the feedback. Yes I will try to add video support at some point but is not a super high priority at the moment as the light-box is intended for images.

[2020-02-07 19:14] #14 closed

[2020-02-08 13:36] arch-stefanozanetti commented on #15
Hi, thank you for the reply!
what i'm trying to say is that, if you look on your codesandblox (in the
imageWithLinks component) and you set the thumbnails to TRUE, you could see
that the thumbnail inside the lightbox is different from the thumbnail used
as img tag.
In  fact, the thumbnail inside the lightbox is the ancor tag image.

thank you.

____________________________________________________

[2020-02-08 13:38] michelecocuccio commented on #15
I understand now.
This is normal behaviour but I will try to implement something soon to change it.
Thanks

[2020-02-08 15:31] michelecocuccio commented on #15
Hello @arch-stefanozanetti.

I implemented your suggestion but I don't think I am going to push it live. From a UI/UX prospective and quoting your example I will say that what you are trying to achieve is not the best solution. Let me explain why:

That's all fine. But the moment you open the light-box you are in a separated view (the light-box modal window in this case), where you are viewing a g

[2020-02-08 16:03] arch-stefanozanetti commented on #15
Thank you for the reply. I understand what you mean and probably it's just
my case and not the common behaviour.

Since you already implemented it, maybe you can suggest me how you adapt it
so I can do the same for my custom project.

Thank you!

Il sab 8 feb 2020, 16:31 Michele <notifications@github.com> ha scritto:

[2020-02-08 17:29] michelecocuccio commented on #15
Ok. I have added this in version 2.2.0 because at the end of the day if the user wants to use a thumbnail to be the same of the actual image he will do it himself. So the decision comes from the user and how he uses the light-box. Please update to 2.2.0 to test if it all works as intended.

[2020-02-08 17:29] #15 closed

[2020-02-10 05:45] jahlherapath opened #16 "'document' build issue with gatsby"
Trying to build a site but it keeps failing cause "document" is not available during server side rendering. Am using "gatsby-browser.js" and "gatsby-ssr.js" as per the documentation but it doesn't seem to be working.

[2020-02-10 21:46] jrnesler opened #17 "Could not find declaration file"
Hello I just updated to your latest version (2.2.0) and Visual Studio Code is giving me the following error:

  Try `npm install @types/simple-react-lightbox` if it exists or add a new declaration (.d.ts) file containing `declare module 'simple-react-lightbox';`ts(7016)

Any pages that I try to use the lightbox subsequently don't load.

Thank you so much for all you hard work, I truly appreciate i

[2020-02-10 22:46] michelecocuccio commented on #17
Hello @jrnesler.

Version 2.2.0 hasn't added anything related to your error which it seems related to typescript.
Are you using typescript? I haven't created a typescript version of this project yet but it shouldn't matter. By the way there is no "npm install @types/simple-react-lightbox" you should just do "npm i simple-react-lightbox".  Can you let me know if your project is enforcing the use of

[2020-02-10 22:55] jrnesler commented on #17
Hi @michelecocuccio!
Yes, I am using typescript 3.7.5 in my project.  It didn't seem to have any issues with the previous version of the simple-react-lightbox (i believe i was on version 1.4.3 before I updated.)

Thanks

[2020-02-25 08:04] tsogoo commented on #16
Also in nextjs ssr.

[2020-02-25 10:04] #17 closed

[2020-03-04 05:47] frankyso opened #18 "Onslide event"
i thanks for this awesome package.
but is there any event trigger in this package?

for example event on sliding start or something like that?

[2020-03-04 09:40] michelecocuccio commented on #18
Hello @frankyso.
I haven't added any events to the lightbox as I don't think you really need it but I could think about it.
Why do you need event triggers in your case?

Thanks

[2020-03-05 02:21] frankyso commented on #18
I need to integrate this lightbox into react-slick index as a navigator,

thanks you

[2020-03-05 09:34] michelecocuccio commented on #18
So you need to open the same image as per the one in the carousel?
I can add the functionality to choose the slide that you want to open. It will be less complicated compared to add event triggers. I am pretty busy with work now but I will see what I can do in the near future.

[2020-03-05 09:40] frankyso commented on #18
yeah, i need to integrate at least 3 carousel, as main carousel, nav carousel, and of course your lightbox as zoomed carousel.

sure, good to hear that. 😄

thanks

[2020-03-05 09:40] #18 closed

[2020-03-09 21:49] michelecocuccio commented on #18
@frankyso for your information I have added callbacks and showed an example with the slick carousel. Please upgrade to version 2.5 :)

[2020-04-01 11:40] AbysFlo opened #20 "Lazy loading with React Slick"
Hello, this is a great tool, but I have only one issue with it, I'm using it with React Slick and I can't seem to be able to use the Lazy Loading option as it would throw me an error :

[code]

Which is a shame because if I have a lot of images I won't be able to open the lightbox until all of them have opened?
Would there be a way to provide its own array of images instead of the react-slick one?

[2020-04-01 12:05] michelecocuccio commented on #20
@AbysFlo I guess this is a conflict with React Slick and with the logic you are trying to apply.

The light-box needs to find the images immediately in order to render theme correctly. If you are lazy loading your images then when the light-box starts I won't find any image. This is not a bug, is intended. The example I showed with React Slick is a basic one but unfortunately I can't cover all the

[2020-04-01 12:05] #20 closed

[2020-04-01 13:54] efikuta opened #21 "document is not defined when using next js"
because of the ssr you need to check: "undefined" != typeof document
 before use "document."

please fix it because i want to use it

[2020-04-01 15:02] AbysFlo commented on #20
@michelecocuccio Thanks for the input! Wasn't a critic at all, understand completely why it works that way. I don't believe I'm skilled enough to do the re-rendering thingy or create a demo.

I kind of took a dirty approach by taking the SRLWrapper in a hidden side DIV with an "onclick" hook on each <img> to open SLR. Kind of look like that :
` <div className="col-lg-9 col-xl-9">
      <Slider

[2020-04-01 15:14] michelecocuccio commented on #21
@efikuta sorry but for now it doesn't support server side rendering. I will try to do my best add support for it. Is there error showing when you run NextJS localy?

[2020-04-02 18:27] JeffMusgrave opened #22 "Zooming on image results in the image moving to the right on larger viewports."
![image](https://user-images.githubusercontent.com/1578618/78272906-1d371e00-74dc-11ea-9692-53708f14435a.png)

After clicking an image to view as a lightbox, when clicking again to zoom, the image moves to the right.  it is impossible to move left beyond that point. It seems to happen when the browser's viewport is large (or possibly just wider). I'm on a 2560x1440 display, and even around 1600px

[2020-04-03 11:59] michelecocuccio commented on #22
@JeffMusgrave Thanks I have noticed this bug yesterday as well. To be honest I am not a big fan of the module that I am using to pinch to zoom as it has many issues. I will see if I can fix it otherwise I will consider moving to another library or drop the functionality for now. Thanks

[2020-04-03 13:39] parondeau commented on #21
I just ran across this myself. Here is the full stacktrace of the error

[code]

[2020-04-03 14:03] michelecocuccio commented on #21
Hello, thanks for this.
I am working to narrow down what it could be. I am using Emotion for styled components ad Emotion requires extra configuration on both Gatbsy and NextJS to use SSR. I am not even sure if it's that or something else. I am working hard to find the cause. I will update you when I have an updated on this. Unfortunately that error stack doesn't say much. If the cause is using St

[2020-04-04 14:31] konstantin24121 opened #23 "Broken demo"
App crushed after "Open Lightbox" button was clicked

[2020-04-04 16:20] michelecocuccio commented on #23
Hi @konstantin24121. Which demo? The one CodeSandbox? Can you be more specific please?

[2020-04-05 10:15] ElForastero opened #24 "No need to compensate the scrollbar width on Mac OS"
Nice library. 👋

Mac OS scrollbars behave diffenently.
There's no need to shift the content. Otherwise it causes a content jump to the left and an empty space.

https://github.com/michelecocuccio/simple-react-lightbox/blob/f62770b6e2aad19d1f40400617d5e9913454a0ac/src/SRL/SRLLightbox/SRLLightboxGallery/index.js#L375

![image](https://user-images.githubusercontent.com/5102818/78472134-98503c80-7747-

[2020-04-06 15:36] konstantin24121 commented on #23
Hm, strange. All is fine now. I dunno what happened two days ago, but I had a crash here https://simple-react-lightbox.dev/ after click to "Open Lightbox". I think you can close iss, sorry to disturbing

[2020-04-06 15:59] #23 closed

[2020-04-07 17:52] michelecocuccio commented on #24
@ElForastero thanks. I removed it for now.

[2020-04-07 17:52] #24 closed

[2020-04-07 17:52] michelecocuccio commented on #22
@JeffMusgrave that should work better now. I am still having some issues with this library when implementing it with React but the image should zoom better now.

[2020-04-07 17:52] #22 closed

[2020-04-07 17:55] michelecocuccio commented on #16
@jahlherapath @tsogoo version 2.6.3 should support NextJS and Gatsby. See the notes on the documentation.

[2020-04-07 17:55] #16 closed

[2020-04-07 17:55] michelecocuccio commented on #21
@efikuta @parondeau version 2.6.3 should support NextJS and Gatsby. See the notes on the documentation.

[2020-04-07 17:55] #21 closed

[2020-04-07 19:22] mkhoussid opened #25 "Issue after recent changes"
Just and FYI, I ran into an issue, [Stackoverflow](https://stackoverflow.com/questions/61085975/unable-to-deploy-to-heroku-no-changes-were-made) post. I ended up commenting out all instances of `simple-react-lightbox` for now, because I was not able to deploy my app to Heroku otherwise.

Not sure where the issue arose from, but I'll come back to this project closer to going live, because there are

[2020-04-07 21:14] michelecocuccio commented on #25
@mkhoussid are you using 2.6.4? I had the same issue just after I published it. It wasn't happening when working locally. I removed the node_modules and yarn.lock and the dist folder and built everything again. I am not using fast-deep-equal/react so it must be a dependency that was causing that issue. Can you try again and let me know?

[2020-04-07 21:32] michelecocuccio commented on #25
By the way I tried on a fresh installation using create-react-app and it worked fine.

[2020-04-07 21:43] michelecocuccio commented on #25
I have also tried on a fresh installation using nextJS and Gatsby and it worked fine.

[2020-04-08 06:27] mkhoussid commented on #25
Thank you for your swift reply! I will try this out after work and get right back to you.

[2020-04-08 17:15] JeffMusgrave commented on #22
Thanks for getting to it so quickly. It does seem to function better though it does a bit of a weird animation to get there. when clicking zoom the image seems to slide in from the top left. Also if you double click outside of the image once or twice it'll actually animate right off the viewport. Tricky stuff!

[2020-04-08 17:55] michelecocuccio commented on #22
@JeffMusgrave I appreciate the thought and the reporting you are giving me :) Yeah this library is good but it doesn't work well with React probably because the component mounting and un-mounting. That's why I marked it as "experimental" and I am trying to write my own "panzoom" functionality! I will get there at some point 👍 For now is just an "optional" that I am offering that can be easily disa

[2020-04-11 15:32] sadrzadehsina commented on #25
I have also the same issue. cleaning up the `node_modules` and rebuild the entire project does not help.

[2020-04-11 16:15] michelecocuccio commented on #25
@sadrzadehsina Thanks. I am unable to replicate the issue. I had it once and now it's not happening again to me.
Could you please provide more information? Are you using Gatsby, NextJS or CRA? Have you tried to also remove your "yarn.lock" and "dist" folder apart from removing the ```node_modules``` folder? Are you on version 2.6.4? You can always rollback to version 2.5.5 which is stable before a

[2020-04-12 02:01] sadrzadehsina commented on #25
@michelecocuccio Thanks for your quick reply. v2.6.5 is the same, I have the same issue with that version. However I changed to the v2.5.5 and now it works fine.

[2020-04-12 08:27] michelecocuccio commented on #25
@sadrzadehsina thanks. It will be helpful if you could tell me what are you using so I can try to replicate the issue and fix it for everyone. Gatsby? CRA? NextJS. Also which version of React are you using. That will be much appreciated.

[2020-04-13 01:14] sadrzadehsina commented on #25
Sure, I am building my app using docker with the following versions. I am not using Gatsby, Create-React-App, or NextJS at all.

- React v16.12.0
- Webpack v4.41.2
- Node v10.15.0

[2020-04-14 13:31] hayhaydz opened #26 "Download Button"
Hey,

I love the lightbox so great work! I just thought a suggestion would be a download button, I understand that I can just right-click and select "Open image in new tab" however I don't think that all of my users would find that entirely intuitive to them. Regardless of whether this seems like a useless suggestion, you've done a great job with the lightbox so far so well done and Thank you!

[2020-04-14 15:26] michelecocuccio commented on #26
@hayhaydz thanks! :)
This is definitely a very good idea! I appreciate it a lot 👍 I will add this on the next release for sure.

[2020-04-15 04:29] jamesroyston opened #27 "No open source license"
Hello!

This library is well made. I'd like to use it but it appears that the repo does not have an OSI approved license (i.e. MIT, Apache License 2.0). Could you add a license to the repo please? 😅

[2020-04-15 08:46] michelecocuccio commented on #27
@jamesroyston Thanks. I have added it. It must have disappeared when I cleaned up the project a while ago.

[2020-04-15 08:46] #27 closed

[2020-04-17 08:44] AarronTame opened #28 "Error when fetching from remote source (Fixed on 2.7 and above)"
Hi, I've implemented the code a per the documentation. When using fetch from remote source I get a `Uncaught TypeError: Cannot read property 'nodeName' of undefined` error.

I'm using a `useEffect` and `fetch` to get the data and setting that to local state, it appears to be trying to get the images before the component has finished rendering.

If i statically place images on the page, the functio

[2020-04-17 09:10] michelecocuccio commented on #28
@AarronTame hi thanks for the heads up.
You can wrap the ```<SRLWrapper />``` without having images and it won't throw an error. It will simply do nothing and the context with the images will be just an empty array. I think yours is an implementation issue. If you are fetching data from an external API you will probably get a promise. Maybe you can just wait the problem to be resolved and then ret

[2020-04-17 11:55] AarronTame commented on #28
@michelecocuccio Hi, thanks for the quick response.
You are right, it looks like part of it is due to implementation, but i also believe there is a bug.

I have two scenarios for implementation:

**Scenario 1:** _`useEffect` to get initial data set, then the scroller handles the additional requests_
I am using a infinite scroller (`react-infinite-scroll-component`) to fetch the images, it correctl

[2020-04-17 13:37] michelecocuccio commented on #28
Thanks for the detailed explanation. Ok I can see the issue there.
You are adding ADDITIONAL images. Unfortunately unless you re-render your component the ```<SRLWrapper>``` won't be able to find additional images. I never tried to add ADDITIONAL images but I can experiment a little bit when I have some time and probably add a fix for this scenarios. Keep in mind that this is not a "Bug" per se, i

[2020-04-17 17:52] jamesroyston opened #29 "Control icons not visibile, fixed by adding "buttonsSize""
Hi, I'm running into a bug where the svgs for the lightbox controls are blank. I try to override them with the options prop but that has no effect.

![image](https://user-images.githubusercontent.com/39611288/79598483-a5571f00-80a9-11ea-8e71-7494e978240b.png)

I don't have any global svg or button styles that are cascading into the SRLWrapper (using styled components everywhere). Have you seen thi

[2020-04-17 18:24] michelecocuccio commented on #29
@jamesroyston hello :) This is weird!

Never experienced that bug. I am using Emotion instead of Styled Components (due to the library) size. It could be that the two are colliding somehow? Have you tried to remove your ```<GlobalStyle />``` temporary just to test if it's an issue with it?

Also have you tried to inspect the buttons and see if something is overriding the style? Try to compare them

[2020-04-17 18:26] #26 closed

[2020-04-17 20:09] jamesroyston commented on #29
@michelecocuccio Re: the `<GlobalStyles />` component, I have tested with that line removed, to no avail.

So I did more digging and found out that when inspecting the button element itself, whenever I disabled width, the svg icon appears!

![image](https://user-images.githubusercontent.com/39611288/79609692-cd03b280-80bc-11ea-9981-c1433f7eb20b.png)

Adding `buttonsSize: '<something in px>` as an

[2020-04-17 20:25] jamesroyston commented on #29
I updated the issue title now that I've confirmed the issues is not that overrides aren't working, but that width is an issue for the icons.

[2020-04-17 20:40] michelecocuccio commented on #29
@jamesroyston thanks for that.
I will change the title though because that statement is not true. If you check the first example on [https://simple-react-lightbox.dev/](https://simple-react-lightbox.dev/), the first one uses the "default" settings (so no passing any options). The default settings are, of course, defaultProps so the default value of `buttonsSize` is always set to be "40px", it does

[2020-04-17 20:46] jamesroyston commented on #29
@michelecocuccio found something out! I tried to find out how 'wide' the button needs to be set to in px in order to make it appear. This is my result at a manually set 40px:
![image](https://user-images.githubusercontent.com/39611288/79612360-2ae6c900-80c2-11ea-847b-db59931b6b27.png)

result at 65px (just now visible):
![image](https://user-images.githubusercontent.com/39611288/79612533-8022da80-

[2020-04-17 20:49] michelecocuccio commented on #29
Perfect I will keep this opened for now so if someone will experience the same issue. I will see if I can reproduce this issue because for now nobody reported a similar case and I can't reproduce it. I am doing more testing myself and if I will find a bug I will fix it on the next release :)

Thank you again @jamesroyston

[2020-04-17 21:11] pnorbi1 commented on #29
Dear michelecocuccio,

I experienced the same behaviour as above, by default no icons visible, when setting the buttonsSize: "65px" it started to show the icons.
I'm also on Chrome using CRA.

[2020-04-18 03:21] jamesroyston commented on #29
@michelecocuccio I believe I found the solution. Tested working in Chrome and Firefox. Question: Is this something you're ok with me making a PR for or do you prefer I just tell you where the bug fix is?

![image](https://user-images.githubusercontent.com/39611288/79626916-c0ea1600-80f9-11ea-857f-3766199e74a5.png)

[2020-04-19 15:11] konstantin24121 opened #32 "Lightbox change image when previews scrolled"
When I try scroll previews lightbox change main image. I guess it is wrong behaviour for users, what do you think?
Also would be nice if preview box have autoscroll to current position. If you open on mobile one of last images current preview image will be hidden
![image](https://user-images.githubusercontent.com/9361325/79691630-77b8d400-8269-11ea-8f21-92d6d1643463.png)

[2020-04-19 19:26] #29 closed

[2020-04-19 20:43] michelecocuccio commented on #32
@konstantin24121. Sorry I don't understand fully what you mean. I am aware that the thumbnails are not ideal at the moment on mobile. Like going to the image when swiping etc. I will try to improve them in the near future.

[2020-04-19 20:43] #32 closed

[2020-04-19 21:54] michelecocuccio commented on #28
@AarronTame I am sorry you were right. I tested it recently and in some cases it was giving me the ``Uncaught TypeError: Cannot read property 'nodeName' of undefined error.`` and in some instances it wasn't. Even when it wasn't, unfortunately because no props were passed or any state wasn't changed the component wasn't re-rendering as well. So I implemented this in version 2.7. You can check the e

[2020-04-19 21:54] #25 closed

[2020-04-20 18:12] AarronTame commented on #28
@michelecocuccio Thanks for the update, it now works as expected. Thanks for a great solution!!!

[2020-04-20 18:12] #28 closed

[2020-04-21 21:30] dmitriyaa opened #33 "Is there a way to set autoplay to true?"
Hi, thanks for the lib, it's really cool.
I browsed documentation, and I think `autoplay: true` is not an option.
Also was not able to do it with callbacks, since we don't have much access in the callbacks.
Could you please add this feature?

p.s. it's not a bug, I clicked on it by mistake xD

[2020-04-21 22:02] michelecocuccio commented on #33
Thanks @dmitriyaa.
I might consider adding this on the next release :)

[2020-04-21 22:02] #33 closed

[2020-04-21 22:04] dmitriyaa commented on #33
@michelecocuccio when is the next release? :D Meanwhile is there a way for me to add this to my project?

[2020-04-21 22:59] michelecocuccio commented on #33
@dmitriyaa sorry I don't really now :) Maybe I can add it during the weekend as I am really busy with work right now!

For now you could simulate a click on the Play button like this
```document.querySelector('.SRLAutoplayButton').click()```
This will trigger the autoplay.

[2020-04-21 23:04] dmitriyaa commented on #33
@michelecocuccio yeah, I thought about it, but `onLightboxOpened` callback is not very reliable to trigger click. I've tested it and sometimes it's called 2 times on open, and if you try to scroll while lightbox is open, it is triggered 100 times.

[2020-04-21 23:07] michelecocuccio commented on #33
@dmitriyaa I will have a look, I haven't tested the callback fully since the last release. I will definitely have a look.
You can use that snippet without using it in the callback to be honest. But for now that's the only solution I can give you I am afraid.

Thanks for pointing out the issue with the callback!

[2020-04-21 23:09] dmitriyaa commented on #33
@michelecocuccio sure, no problems. What would be another way to use that snippet? The button should be triggered only once the modal window is opened right?

[2020-04-21 23:25] dmitriyaa commented on #33
@michelecocuccio, figured it out, set your snippet on click on image container, thanks!

[2020-04-23 19:41] fredleput opened #34 "Not a bug, but a wish !"
Hi,

First of all, thx for this marvellous component, it works like a charm. I'm searching for options i can't find :

- i would like to personalize texts that appear when you mouse over controls (previous, next, close...). Sorry but i'm french and i would like to translate them.
- Also, i didn't find the option to disable full screnn button as we can do with "showDownloadButton"

I would be glad

[2020-04-23 20:48] michelecocuccio commented on #34
@fredleput

- I can make the text custom. I don't see a reason for that for know but I will maybe implement this on the next release.
- At the moment the fullscreen button is always visible. If you want to hide it for now you can hide it using CSS by targeting the class '. SRLExpandButton'. I will make it so that you can disable it on the next release.

Thanks a lot

[2020-04-23 20:48] #34 closed

[2020-04-23 22:01] fredleput commented on #34
Thx, the reason i thought for customizing text is just for translation

[2020-04-23 22:44] fredleput opened #36 "Overlay effect on thumbnails"
**Describe the bug**
if i use this "markup" lightbox works

[code]
but if i use this one lightbox effect is broken,

[code]

when a is hovered, my css make div.post-icon overlay it completly, i think issue is there, click handler should receive the wrong target : my div.post-icon intead of a with data-attribute.
I also tried to put data-attribute on my div.post-icon but it didn't solved the proble

[2020-04-24 08:46] michelecocuccio commented on #36
@fredleput sorry is a bit difficult to understand from the screenshot. I think the problem is that you have a <FontAwesome> component that I suppose it gives you back another image. To use the light-box you can only have 1 nested image after the `data-attribute="SRL"`. I will look in to this on the next release but I doubt there is something I can do about it. For now what I could suggest you is t

[2020-04-24 12:40] fredleput commented on #36
there's only 1 nested image : icon is not a img tag but a svg...

[2020-04-24 14:41] michelecocuccio commented on #36
@fredleput I understand. But the fact that you said the the normal markup is working right?

[code]

[2020-04-27 20:10] cqx931 opened #37 "Feature request: options | disable keyboard-controls"
Thank you for making simple-react-lightbox, I really like it!
It would be nice if there is an option for disabling keyboard-controls for SRL.

In my project, I have another component in my app that uses keyboard-controls. So I don't want it and SRL to be triggered at the same time.

[2020-04-27 20:27] michelecocuccio commented on #37
@cqx931 Thanks, that's a really good idea that I already had in mind. I will make sure I will put it on the next release. I am working a lot at the moment but I should have to release a new version very soon. Thanks a lot :)

[2020-04-29 19:03] iammatthias opened #38 "Access `object` from `onLightboxOpened`?"
Is there a way to access the `object` that from `onLightboxOpened` or `onLightboxClosed`? I would like to log the image that is displayed when user opens or closes the gallery.

Ex.

[code]

[2020-04-29 20:54] michelecocuccio commented on #38
@iammatthias thanks, I will make it available with the next release :)

[2020-04-29 21:00] iammatthias commented on #38
Thank you!

[2020-04-30 00:19] cqx931 commented on #37
Thank you and look forward to the new release!

[2020-05-02 16:32] hayhaydz opened #39 "Blocked by CORS policy: No 'Access-Control-Allow-Origin'"
Hi again,

Great work on adding the download button, my issue is that I am using an AWS S3 bucket for my photography gallery of images.

Now AWS doesn't seem to like that the fetch is being made I believe without an origin header but I'm not entirely sure what the exact solution is.

You can see your amazing lightbox [here](https://hayhaydz.tk/photography) along with the subsequent error when clic

[2020-05-02 20:26] michelecocuccio commented on #39
@hayhaydz sorry to hear that.

This has nothing to do with the light-box. Unfortunately Chrome 65 removed support for the download attribute on anchor elements with cross-origin hrefs. I could use a really messy workaround. I will see if I can change that with the next release by using "fetch" or something else.

[2020-05-03 10:40] motrdevua opened #40 "Uncaught TypeError: p.dispatch is not a function"
Hello Michele!
Sorry for nub question but I'm newbie with react and next.js
I'm tried to made gallery with your plugin but got an error
`Uncaught TypeError: p.dispatch is not a function`
![image](https://user-images.githubusercontent.com/48984371/80911953-5a443980-8d42-11ea-9f71-c28eb9efd301.png)

**Environment*
"react": "16.13.0"
"next": "^9.3.4"

![image](https://user-images.githubusercontent.co

[2020-05-03 11:24] michelecocuccio commented on #40
@motrdevua sorry is a bit hard to tell what's happening but I can see few issues with your code which are not related to the light-box.

- You are not using any state and storing the images in their own state. Therefore after you fetch the images, the component is not re-rendered and I guess my light-box fails.
- You are returning an array with the "galleryPhotos" jsx. I don't know why so maybe th

[2020-05-03 11:24] #36 closed

[2020-05-03 23:40] hectormerla opened #41 ""closeLightbox" equivalent of "openLightbox""
Hi! I am using this lightbox and it's great! I notice there's no "close" equivalent of "openLightbox" in the useLightbox() hook.

Is there a way I can close programmatically the lightbox? I notice I can't close with scape key, I wanted to create a custom handler for that but couldn't find an `closeLightbox` method.

Maybe the useLightbox hook could return an object with different methods like an

[2020-05-04 08:53] michelecocuccio commented on #41
@hectormerla this was requested before.
I will add an hook to close the light-box on the next release. The ESC key is a bug, as it was implemented and it's not working now. I will have a look soon and implement a fix as fast as I can.

Thanks

[2020-05-05 14:07] SourceCipher commented on #40
Same issue.. Wrapped images as stated in the docs and as soon as I clicked on the image, I get the same error in the console

[2020-05-05 14:38] michelecocuccio commented on #40
@SourceCipher please be careful when reading the documentations :) @motrdevua yes of course you have to wrap your app with the SimpleReactLightbox component.

[2020-05-07 13:46] michelecocuccio commented on #37
@cqx931 hello! This has ben now added in version 2.8. Please, read the documentation carefully because the options are now passed a little bit differently. Thanks :)

[2020-05-07 13:46] #37 closed

[2020-05-07 13:47] michelecocuccio commented on #38
@iammatthias hello! This has ben now added in version 2.8. Please, read the documentation carefully because the options are now passed a little bit differently. Thanks :)

[2020-05-07 13:47] #38 closed

[2020-05-07 13:48] #39 closed

[2020-05-07 13:48] michelecocuccio commented on #41
@hectormerla hello! This has ben now added in version 2.8. Please, read the documentation carefully because the options are now passed a little bit differently. Thanks :)

[2020-05-07 13:48] #41 closed

[2020-05-07 13:48] #40 closed

[2020-05-07 16:58] iammatthias commented on #38
I'll take a look! Thank you so much!

[2020-05-07 17:18] iammatthias commented on #38
Really love the new syntax for the options. It's a lot more readable now.

[2020-05-09 00:36] fredleput opened #42 "pseudo element breaks all"
Hi, sorry to come back about this but, since last time i tried to keep my hover effect, but this time with pseudo element.

**Describe the bug**
when hovering the link with data-attribute="SRL", i have a pseudo element who cover the image (transform from scale(0) to scale(1). when i click lightbox doesn't work.

i made some test with ::before, and ::after, same result.

i change my ccs (scale(0.5)

[2020-05-09 00:42] fredleput commented on #42
Perhaps comming from here...

`SRLContextComponent.propTypes = {
  children: PropTypes.oneOfType([
    PropTypes.arrayOf(PropTypes.node),
    PropTypes.node
  ]).isRequired
}`

i'm not sur about PropTypes.node...

Fred.

[2020-05-09 09:48] michelecocuccio commented on #42
@fredleput thanks, nice catch. It has nothing to do with PropTypes :)

I just released a fix in version 2.8.0-2 and tested with a pseudo element on it (I have updated the demo with the Gallery With thumbnails so have a look that confirms it's working on my side).

So that's now fixed in version 2.8.0-2.

[2020-05-09 09:48] #42 closed

[2020-05-10 23:45] hectormerla commented on #41
@michelecocuccio Wow, your response was fast, I updated the package and everything works like a charm! Thank you!

[2020-05-14 01:08] dmorda opened #43 "Sticky header can interfere with lightbox when z-index is greater than 1"
**Describe the bug**
I have a website that has a sticky header. The sticky header is about 20px and has a z-index of 10. When the lightbox displays, the sticky header is on top of the lightbox controls (e.g., Play, Download, Fullscreen, Close). The only fix I've found is to add the following to my CSS, but it feels a bit like a hack.

[code]
From what I can tell this is the hierarchy that gets add

[2020-05-14 01:09] dmorda commented on #43
P.S. Love this plugin!

[2020-05-14 08:39] michelecocuccio commented on #43
@dmorda sure, I am about to release a new version with two major requested features and one big improvement on the thumbnails and I will bump the z-index. What you have done is not an hack anyway, I have provided detailed class names in order to overcome issues like this one. Is difficult to predict many scenarios from a UX/UI perspective but yeah I will definitely bump the z-index a little bit :)

[2020-05-14 16:59] dmorda opened #44 "Using an onClick event to display lightbox in the same component"
I have a page where I want to display three photo galleries. Each gallery will have an image on the page and when you click it, i want it to display the photos for that gallery. So in theory, this sounds like I'd need to use the onClick event to display the lightbox for a specific gallery.

Is this possible?

While working on it, I couldn't get the onClick event to work even with the simplest of e

[2020-05-14 17:07] michelecocuccio commented on #44
@dmorda hi,
As per the documentation:
_Note: if you need multiple instance of the light-box in one page you should wrap each one in it's own <SimpleReactLightbox> component._

So if you have 3 galleries on the same component, you need to wrap each and every one in their own <SimpleReactLightbox> component so for example

[code]
the logic of your hook should be inside the <SimpleReactLightbox> inst

[2020-05-14 19:04] dmorda commented on #44
That worked like a charm, thank you!

Only one thing left I haven’t figured out. Is there a way to hide the images on the screen and display a button like “Launch gallery” that then displays the lightbox for the images?

[2020-05-14 21:09] michelecocuccio commented on #44
@dmorda you don't need to pass images in the ```<SRLWrapper />```. Please refer to the documentation "[passing images in an array](https://github.com/michelecocuccio/simple-react-lightbox#declaring-images-in-an-array)".

[2020-05-14 21:50] dmorda commented on #44
That worked like a charm, thanks so much!

[2020-05-14 21:50] #44 closed

[2020-05-15 06:08] nadernt opened #45 "Uncaught TypeError: p.dispatch is not a function"
**Describe the bug**
I tried all the examples. It gives below error. I think it is a bug. I tried older versions of library same result. Any help will be appreciated.

index.es.js:7 Uncaught TypeError: p.dispatch is not a function
    at index.es.js:7
    at t (index.es.js:7)
    at index.es.js:7
    at a.<anonymous> (index.es.js:7)
    at a.t.emitEvent (index.es.js:1)
    at a.complete (index.es.

[2020-05-15 08:24] michelecocuccio commented on #45
@nadernt have you wrapped your App with the ```<SimpleReactLightbox />``` component?

[2020-05-15 09:37] nadernt commented on #45
Thanks, that was the issue. Now everything is fine. Is there any option to show thumbnails horizontally and scrollable? This is a good feature because it saves screens area for the main slide.

[2020-05-15 11:07] michelecocuccio commented on #45
@nadernt please read the docs carefully as it wasn't an issue 👍 but I am glade you solved it.
Expect great improvements for the thumbnails in the next release 😀. I will launch it either today or tomorrow.

[2020-05-15 11:07] #45 closed

[2020-05-17 03:49] knkevinlai opened #46 "Is it possible to have both images declared in array and explicitly rendered wrapped in the same SRLWrapper?"
This is the best react lightbox gallery library I have found. Thanks!

As the question in the title, let's say I have 8 images rendered inside a <SRLWrapper/>, but I would like to have 3 extra hidden images in the same <SRLWrapper images={[ ...extraImages ]}/> that will only be shown on the popup lightbox together with other 8 images. Is there any way to implement this by using the latest version?

[2020-05-17 10:39] michelecocuccio commented on #46
@knkevinlai hi. Thanks :)

This is not possibile for now and I don't plan to add this as it's against some patterns that I use when programming. Surely if you want to this you could do it the other way around and without wrapping the images in the ```<SRLWrapper>``` component and just using the hook. Like this:

[code]

I think this fully accomplished what you want to do. Using the hook gives you

[2020-05-17 12:02] knkevinlai commented on #46
@michelecocuccio Thank you for this clean code example.

I have tried this work around and it works like a charm. And I am fine with this pattern. 😊

(sorry this issue is not a bug but should be a question instead)

[2020-05-17 12:02] #46 closed

[2020-05-17 20:14] #43 closed

[2020-05-17 20:19] dmorda opened #47 "Overflow hidden style not removed in IE11 when lightbox is closed"
**Describe the bug**
When the lightbox is opened on IE 11 the body tag is modified to become the following:

```<body class="SRLOpened" style="overflow:hidden">```

When the close button is pressed in the lightbox, it removes the "SRLOpened" class, but not the style attribute making it no longer possible to scroll on the page.

```<body style="overflow:hidden">```

**Environment*
"gatsby": "^2.21.

[2020-05-17 20:38] michelecocuccio commented on #47
@dmorda thanks, good catch!

Apparently setting the value to `null` is not working on IE11. I have fixed it already and it will be ready for the next release. I have changed flex-box for CSS grid in some part for the next release and I am making sure that it works on IE11. Unfortunately I am having a lot of issues right now which are delaying the next release but stay tuned as there are tons of im

[2020-05-17 20:38] #47 closed

[2020-05-17 21:03] dmorda commented on #47
Sounds good.

For anyone else experiencing the issue, here's the workaround I put in place to address it.

[code]

And then in the SRLWrapper...
[code]

[2020-05-18 15:48] GolotaMishka opened #48 "is it possible to disable swipe?"
**Describe the bug**
Please describe the bug and how/when happens. Try to be concise and describe clearly the action that you have taken prior to encountering the bug.

**Environment*
Please state if you are using Create React App, Gatsby or NextJS and their version. Include your version of Node and your version of React. Please also include the browser that you are using and possibly its version.

[2020-05-18 17:33] michelecocuccio commented on #48
@GolotaMishka sorry, is not possibile to disable swipe. If you are on mobile you are not forced to swipe, you could use the thumbnails (which are going to be improved soon). Swipe is the natural gesture to navigate through content so I don't see why that should be useful. I know that there are some issues with the pan-zoom functionality and the swipe on mobile at the moment but this is going to be

[2020-05-18 19:24] P4R4DiSi4C opened #49 "Carousel demo"
Hello,

Thank you for your awesome work !

Would you be able to fully release the carousel example as I'd like to do the same thing on my side.
Carousel + callback as shown here: https://simple-react-lightbox.dev/with-callbacks/

Regards

[2020-05-18 19:26] P4R4DiSi4C commented on #49
nvm got it here ! Thank u so much https://codesandbox.io/s/simple-react-lightboxss-39wrb?fontsize=10&file=/src/components/GalleryWithCallbacks.js

[2020-05-18 19:26] #49 closed

[2020-05-18 21:27] michelecocuccio commented on #47
@dmorda fixed in version 3.0.0

[2020-05-18 22:00] dmorda commented on #47
Works like a charm, great work on the new release. Really like the changes to the thumbnails and how they stay in sync while you navigate them. Only thing I found is that you can't seem to swipe the thumbnails on mobile any longer. Is that a known issue, or do you want me to create one?

[2020-05-18 22:15] michelecocuccio commented on #47
@dmorda you need to give me more info, like which device and brwoser. I am able to swipe on Android. I will try on IOS tomorrow. I am exhausted now :)

[2020-05-18 22:24] dmorda commented on #47
Yep, it was iOS and thanks! Now get some rest!

[2020-05-19 18:09] P4R4DiSi4C opened #50 "Suggestion: Close on background click"
Hello,

Would it be possible to add the option to close on background click ? I mean, clicking on the background outside the image:

![image](https://user-images.githubusercontent.com/17826095/82362407-98ad4a00-9a0c-11ea-89ae-fa419af97bd9.png)

Thank you very much

[2020-05-19 18:11] michelecocuccio commented on #50
@P4R4DiSi4C hello! The functionality it was present but I had to disable it as I had issues when the image was zoomed. I have already fixed it and it's going to be ready for next hot-fix release later on or tomorrow ;)

[2020-05-19 18:30] P4R4DiSi4C commented on #50
@michelecocuccio Oh sweet ! Thanks for the good news. I'll be waiting for the hotfix !

[2020-05-20 22:14] michelecocuccio commented on #50
@P4R4DiSi4C re-added in version 3.0.2

[2020-05-20 22:14] #50 closed

[2020-05-21 10:13] P4R4DiSi4C opened #51 "Disable cursor zoom-in if panzoom disabled"
Hello,

Could you remove the:
`cursor: zoom-in;`
from SRLImage css class if panzoom is disabled ?

Thank you very much !

[2020-05-21 12:23] nielsdos opened #52 "Support for custom JSX in captions"
Hi

First of all, really amazing library!

My question is if it's possible to allow custom JSX in captions.
The use case I have in mind needs to have labels on images, which I want to display when the image is fullscreen. As well as adding a button unique for each image.
As far as I'm aware, this is only possible with the array declaration?

Thanks in advance

[2020-05-21 13:52] michelecocuccio commented on #52
@nielsdos thanks.
I might consider adding this in the near future although this comes with complications, including the fact that you could easily break the style of the light-box if you add too much on the "caption" div. That div is supposed to hold just a snippet of text. Anyway I will consider it for the next release :)

[2020-05-21 13:52] michelecocuccio commented on #51
@P4R4DiSi4C will do it on the next release

[2020-05-21 18:53] carloscalage opened #53 "Module not found: fast-deep-equal/react"
Hey mate,

Thanks a lot for this library, really great work!

Unfortunately I'm having this issue here. I'm using yarn to install it on my project and I'm getting this error when I start my application... I'm relatively new to the react and I don't know if this is something that I needed to do?

[code]

Thanks!

[2020-05-21 19:00] michelecocuccio commented on #53
@carloscalage hello.

When opening an issue i need to follow the following. I also need to to know if you are using the latest version of the Simple React Lightbox (3.0.2).  Also have you tried with NPM instead of yarn?
It should make a difference. Please compile the questions below.

**Describe the bug**
Please describe the bug and how/when happens. Try to be concise and describe clearly the acti

[2020-05-21 21:49] carloscalage commented on #53
Sorry, I forgot to send those informations.

I'm using the latest version of your package and react 16.12.0. I created with Create React App and I'm using yarn tool to install my packages.

I tried to use NPM, but I'm having conflict with yarn, so I can't tell if it's working...

Everything was working ok, then I use "yarn add simples-react-lightbox" and then "yarn start" and I got that error mess

[2020-05-21 22:14] michelecocuccio commented on #53
@carloscalage try do the following:

```yarn remove simple-react-lightbox```
delete your node_modules folder
delete your yarn.lock file
```yarn```
```yarn add simple-react-lightbox```

Is quite difficult to understand what's going on :( I tried with your version of React and it works.
Can you also copy and paste your package.json file? Make sure it doesn't contain any sensitive informations, I jus

[2020-05-22 03:18] carloscalage commented on #53
I fixed the problem, but I don't really know what was causing... I removed some unused depencies that I had and then I reinstalled your package and worked like a charm. If you want to know, these are the dependencies that I removed:

Antd, react-select, beautiful-react-hooks and react-transition-group.

Thanks for your time and fast support!

[2020-05-22 03:18] #53 closed

[2020-05-22 08:25] michelecocuccio commented on #53
@carloscalage glad you are solved it. Sometimes unused dependencies can cause issues. It's good to keep your project clean. Glad you fixed it.

[2020-05-24 07:45] carloscalage opened #54 "Cache of used images"
**Describe the bug**
I'm working on a real state website and I need to show properties dynamically with their own photo galleries, so I have a mother component wich is showing all the properties and handling the logic of selection and sending the data to the another component wich is going to show the details and the gallery. I just needed a button to show the gallery, so I have the SRLWrapper on

[2020-05-24 14:49] michelecocuccio commented on #54
@carloscalage hello.

I don' think this is a bug with the light-box but more the way you are using your state in React. There are few things i don't understand like:

You don't need to move away the SRLWrapper as it's always hidden as it's using React Portal. Why are you moving it on the left?

Also how are you fetching the datas of the properties? Simple React Lightbox works with data fetching an

[2020-05-24 23:22] carloscalage commented on #54
Hey! Sorry for bothering you again.

Yeah, I misunderstood the way Wrapper works and I was doing something very wrong. I fixed with your answer. Thanks!

I would like to leave what I was doing and how I fixed, if anyone else is having the same problem.

Resumed: I'm getting the photos from an API and I don't want this photos to be shown on the body. So I have a button wich is going to open the lig

[2020-05-24 23:22] #54 closed

[2020-05-25 00:09] michelecocuccio commented on #54
@carloscalage happy you solved it your way :) you can also put the button outside the `<SRLWrapper`>, the hook works from everywhere (it has to be inside the `<SRLLightbox>` of course). I still don't get why you are offsetting the `<SRLWrapper>` to the left but hey, if it works and you are happy I am happy as well 👍

[2020-05-25 01:21] carloscalage commented on #54
The offsetting of SRLWrapper was because it was rendering the photos on the body in that first code. I'm not using that anymore, because I'm not rendering the photos as `<img>` tags, instead I'm passing through the props with an Array

`<SRLWrapper images={images}>`

[2020-05-25 08:53] njbarrett opened #55 "Disable wheel controls doesn't work"
Hello, I am using the options object below:
[code]

However scrolling the mousewheel still changes the images. Using Chrome 81.

[2020-05-25 09:10] njbarrett commented on #53
Hello - I had this issue as well, using npm, the project depends on `fast-deep-equal/react` and I had to manually include it within my package.json

[2020-05-25 09:19] carloscalage commented on #53
Oh yeah... I forgot to say that I also added the fast-deep-equal on my project using `yarn add fast-deep-equal/react` in case anyone else is having the same problem and even with the cleaning of unused packages are still having this error message

[2020-05-25 09:23] michelecocuccio commented on #53
Hello. The project doesn't depends on `fast-deep-equal/react` but one dependencies does. Usually, when installing a package all the other dependencies required by the other packages should be installed. Apparently this is not happening with `react-use`. I will have a look or include it as my own dependency.

Thanks

[2020-05-25 10:11] michelecocuccio commented on #55
@njbarrett thanks, this is now fixed in 3.0.3.

[2020-05-25 10:11] #55 closed

[2020-05-25 10:12] michelecocuccio commented on #51
@P4R4DiSi4C this is now fixed in version 3.0.3.
Thanks

[2020-05-25 10:12] #51 closed

[2020-05-25 22:44] furlanf opened #56 "Support for rotate Image"
Hi, great work on this library!

What do you think about creating a feature that adds a rotate option?

How can I install and contribute?

Thanks in advance.

[2020-05-25 23:22] netochaves commented on #56
+1

[2020-05-26 00:18] michelecocuccio commented on #56
@furlanf hey, thanks!
What do you mean by rotate? Can you please show some examples?

You can contribuite like as any other project. You can fork this repo and add some code and if it's valid I am going to merge it eventually. In regards of installing you just need to clone the repo and do a `yarn run dev` to run the code locally. You will then need to create another folder where you link the pack

[2020-05-26 02:15] furlanf commented on #56
@michelecocuccio
I mean, a button that can rotate an image by +90deg (or -90deg).
Something like this.

![rotate](https://user-images.githubusercontent.com/4295068/82853841-268da700-9edd-11ea-933c-0ed1f3f6392b.gif)
Thanks for the introduction to installing.
If you don't mind, I would give try to implement this functionality. What do you think?

[2020-05-26 08:37] michelecocuccio commented on #56
@furlanf oh, yeah I can add rotation... I don't see why would you need to rotate an image though :) I am thinking about it and I will consider it adding it to the next release, as it's easy to implement it won't pose an issue.

If you have some time and you feel like you want to try it please do, but as I won't promise I will merge it :) up to you

[2020-05-26 12:48] furlanf commented on #56
It would be nice if you could add. I don't found a good library with a rotate option, so I think that it can be a plus.
We use to open images that users sent, something these images were in the wrong position, needing to turn this image.

[2020-05-26 13:46] michelecocuccio commented on #52
@nielsdos I have added a way to add custom captions. Please read the documentation fully and have a look at the demo [here](https://simple-react-lightbox.dev/with-custom-captions/)

Thanks :)

[2020-05-26 13:46] #52 closed

[2020-05-26 15:38] hvocalmatic opened #57 "Setting disableKeyboardControls: true gives TypeError when clicking on images"
**Describe the bug**
I've set disableKeyboardControls: true and couldn't click on other pictures on the carousel anymore. I get the following errors:

TypeError
x.current is not a function

ReferenceError
keyEventHandler is not defined

**Environment*
I've edited the CodeSandbox just to include "disableKeyboardControls: true", you can see the error happen there: https://codesandbox.io/s/simple-rea

[2020-05-26 17:37] michelecocuccio commented on #57
@hvocalmatic nice catch :) I accidentally remove a condition when i released version 3.0. This is now fixed in 3.0.1! Thanks

[2020-05-26 17:37] #57 closed

[2020-05-27 19:43] JeffMusgrave commented on #22
Hey, I know the pan and zoom functionality is experimental, but I was thinking you might take a look at [Framer Motion](https://www.framer.com/motion/). It's similar to something like React Spring, but a lot easier to use and actively maintained. Plus, being spring based, it handles interactions really well. So all those swipe, pan, and zoom animations/interactions should be a lot easier to deal w

[2020-05-27 19:52] michelecocuccio commented on #22
@JeffMusgrave thanks for the suggestion. I am already using Framer Motion the animations of the slides. I am already thinking about adding pan-zoom with it but I will experiment with it and see what I can do for the next release :) Also pan-zoom works a little bit better now compared than before. Thanks for the suggestion anyway.

[2020-05-27 19:57] JeffMusgrave commented on #22
Oh, well now I feel stupid hah. I also just noticed you added some spring animations as well! Thanks for the good work!

[2020-05-27 20:02] michelecocuccio commented on #22
@JeffMusgrave don't feel stupid!

Yep, version 3.0 added a lot of cool new things. The library I am using now takes care of pan-zoom including wheel, drag, boundaries etc. If I have to translate this logic using framer motion I will have to do everything by myself but it seems like a nice thing to do and I am already working on it :)

[2020-06-06 22:08] dcanora opened #60 "Download button not working"
Great work! Very easy to integrate, but having a problem with the Download button.  I'm developing a React website and using material-ui cards to display photos.  The lightbox works great, but the download button doesn't do anything when pressed.

[code]

I assume it has something to do with using Cards, but can't figure out how to work around. Appreciate any suggestions!

[2020-06-06 22:20] michelecocuccio commented on #60
@dcanora hello :)

Chrome has strict CORS rules in regard of downloading images using Javascript. This a known issue and I will try to find a workaround soon but it doesn't entirely depend on me.
Can you check the console to check if you have any error? Are you using Chrome? Have you tried with another browser?

[2020-06-07 00:19] dcanora commented on #60
Hi @michelecocuccio Thanks so much for your quick reply!

Of course you're right, it's CORS - totally slipped my mind to check. (Same behavior on Chrome, Edge (Chromium) & Safari, btw.) Thanks again.

[2020-06-07 00:19] #60 closed

[2020-06-15 10:14] DeLuke84 opened #61 "SRL with Gatsby and MDX-Files"
Hello,
I tried your Lightbox and I have to say I really like it. Good job!

Now I'm trying to get it to run inside Gatsby and a MDX file (Markdown-File which supports the import of components), unfortunately without success.

Do you happen to have any idea how it could work?

I tried to wrap the template file as well as the markdown file with the 'SimpleLightBox' component and then applied the SLR

[2020-06-15 10:40] michelecocuccio commented on #61
@DeLuke84 hello, sorry but I never tried with MD files.
I will need you to create a CodeSandbox if you have time or I will have to test it in the future before I release a next version. I rarely use MarkDown for complex logic to be honest. Sorry I can't provide a solution but I will make sure to have a look at this!

Thanks

[2020-06-16 23:52] HuanxinHu opened #62 "Support for TypeScript"
Great react light box component.
Can not find type modules when run `npm install @types/simple-react-lightbox`
The solution is ignore ts check when import the module
`// @ts-ignore`
`import SimpleReactLightbox, { SRLWrapper } from 'simple-react-lightbox';`

[2020-06-17 08:25] michelecocuccio commented on #62
@HuanxinHu thanks,

yes, unfortunately I am still working on converting everything to TypeScript so it will take a while. Thanks I will do my best to release the new version with support of TypeScript as soon as possible!

[2020-06-18 00:47] genesiscz opened #63 "Cannot read property className of null"
**Describe the bug**
I have an image gallery which includes one image that is hidden on mobiles. This image is causing whole page to go crazy because offsetParent is null in case the parent is hidden.

**Environment**
Create React app, mobile

**To Reproduce**
1. Create a gallery
[code]

2. The error occurs

**Screenshots**
![104305368_318488295816164_6141397319963157838_n (1)](https://user-images

[2020-06-18 19:30] michelecocuccio commented on #63
@genesiscz thanks, fixed in 3.2.2-4

[2020-06-18 19:30] #63 closed

[2020-06-19 06:38] daiky00 commented on #11
@michelecocuccio is this support it yet?

[2020-06-19 08:33] michelecocuccio commented on #11
@daiky00 Gatsby images are now supported yes. Give it a try :)

[2020-06-19 14:34] daiky00 commented on #11
Is there an example that I can follow or any documentation?

[2020-06-19 19:36] fartinmartin commented on #61
@DeLuke84 after wrapping your root element with `<SimpleReactLightbox>` I think there are two ways to go about this:

1. In your blog post layout, wrap your `<MDXRenderer>` in a `<SRLWrapper>`.
2. Pass `<SRLWrapper>` as an [MDX shortcode](https://mdxjs.com/blog/shortcodes).

Here's a [CodeSandbox](https://codesandbox.io/s/clever-cloud-kcgz6?file=/content/blog/srl-test/index.mdx) for the first opti

[2020-06-20 02:52] daiky00 commented on #11
@michelecocuccio Thats really nice thank you so much :)

[2020-06-20 16:53] daiky00 opened #64 "Dragging on zoom in a mobile device causes excessive shaking of the image"
**Describe the bug**
The bug happens when you touch on the image for zoom in gallery mode and try to drag the image to bring it within view range of your screen.

**Environment*
I though this was because of Gatsby but I was wrong because I went to the official demo site and I get the same issue. This functionality seems to work fine on Android device but not on IPhone. I am using an IPhone 11 devi

[2020-06-20 17:01] michelecocuccio commented on #64
@daiky00 Thanks, I am aware that pan-zoom has some issues. This particularly happens on IOS device. I am working on a fix for the next release. Cheers.

[2020-06-20 17:19] daiky00 commented on #64
@michelecocuccio nice thanks for the quick reply 😃🤟🏻

[2020-06-21 12:46] albertgasset opened #65 "Full size images are used as thumbnails"
**Describe the bug**
When using images wrapped in links, the lightbox uses the images referenced by the links as thumbnails.

**Environment**
I'm using NextJS and latest version of Chrome and Firefox. The bug is also present in the demo site: https://simple-react-lightbox.dev/with-thumbs/

**To Reproduce**
1. Go to https://simple-react-lightbox.dev/with-thumbs/
2. Check the DOM the first image in

[2020-06-21 15:50] michelecocuccio commented on #65
@albertgasset thanks, this is fixed now in 3.2.3-2

[2020-06-21 15:50] #65 closed

[2020-06-26 15:38] JeffMusgrave opened #66 "Request: support for video and other content?"
I was thinking it would be a pretty complete system if we could get support for video, eg: click on a thumbnail and the lightbox opens up to an overlaid youtube video or local video via a video tag. Likewise other embeds like soundcloud or local audio tags would be nice to add!

[2020-06-26 16:10] michelecocuccio commented on #66
@JeffMusgrave Thanks for the suggestion. I will implement this in the near future.
It takes time to add video support and other media files but it's definitely in the work.

[2020-06-29 13:09] AndrewJavaScript opened #67 "Memory leak and different galleries"
Hello! I have a question and error. My question is - how i can make 3 different galleries in one page? Maybe SRLWrapper can have **id** or something, so it will not add all images at one page in one gallery? And this is error in  SRLWrapper:
Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all

[2020-06-29 13:23] michelecocuccio commented on #67
@AndrewJavaScript hey Andrew,

There is no error with the light-box. The error is caused by the way you are writing your code. "puppies" is null on render and that causes an error in your app. I quickly created a [CodeSandobx](https://codesandbox.io/s/upbeat-fast-9bdjk?file=/src/App.js) demo to see how I fixed the code on line 7.

In order to have more than one light-box in one page you need to ha

[2020-06-29 13:27] #67 closed

[2020-06-29 13:54] AndrewJavaScript commented on #67
Michele, please check your link to CodeSandobx. I checked code 10 times but didnt find any difference. Thank you for your help.

[2020-06-29 14:42] michelecocuccio commented on #67
@AndrewJavaScript, line 7 :)

`const puppies = props.puppies?.map((el, i) => {}`

the question mark is a short syntax to check if the variables exist, if not is going to be set it to undefined. This is advanced JavaScript, you can write the standard way too.

[2020-06-29 15:22] AndrewJavaScript commented on #67
I delete return null, use your short syntax, but still have error, when i change pages. My code is simple. Repository with my project https://github.com/AndrewJavaScript/JS_Homework/tree/master/pitomnik_react

[2020-06-29 15:53] michelecocuccio commented on #67
@AndrewJavaScript your code is running fine, don't know what to say. Look at the [video](https://drive.google.com/file/d/1WIPMds1XbkfQcU3FdDSWzu-GDtKGRMxm/view) that I have recorded. I just run your repo and start it, I haven't changed anything. Sorry, I can't help if you are having issues with your code but for me everything works fine and there is no issue with the light-box.

[2020-06-29 16:29] AndrewJavaScript commented on #67
Man, you are great, if you trying to help me even with installing my repo and making videos. My app dont crush, you need to open console and check this problem there. You click enough to get that error. I need to learn how to make videos too.

[2020-06-29 16:47] AndrewJavaScript commented on #67
I made video also with that error. Please tell me if my link is ok https://drive.google.com/file/d/18a6NpTY1valM3d6kB8BVRDGF89049Q7R/view?usp=sharing

[2020-06-29 17:01] michelecocuccio commented on #67
@AndrewJavaScript I have requested access to the video. Anyway I don't have anything in the "console" log. I will watch the video later and I love to help but unfortunately I don't have much time to offer individual help. I helped as much as I could. I will come back after I watch the video.

[2020-06-29 17:03] AndrewJavaScript commented on #67
I update acces for the same link https://drive.google.com/file/d/18a6NpTY1valM3d6kB8BVRDGF89049Q7R/view?usp=sharing

[2020-06-29 17:13] michelecocuccio commented on #67
@AndrewJavaScript I can see the issue but I don't see what's wrong. Anyway that's a warning and not an error. I will have a look but I think this has something to do with your App and the router and not the light-box itself. Unfortunately I can't offer individual help or code reviews. I will investigate the issue but I can't see that error on my [example website](https://simple-react-lightbox.dev)

[2020-06-29 18:43] gortron opened #68 "Question: possible to get the image to fill the lightbox?"
In the options section of the README.md, you show two sample images: one of a motorcycle, and one of a mountain lake. The mountain lake image seems to fill the `SRLStage` / `SRLLightbox` component, with buttons resting on top of the image. I think this looks _brilliant_, and was wondering which specific options you used to configure the Lightbox to appear that way? Or if that was a piece of custom

[2020-06-29 19:28] michelecocuccio commented on #68
@gortron hello :) thanks for asking.

That's just the imaged zoomed-in with the panz-zoom functionality. But I might consider adding this as feature in the near future! I also think with a bit of Javascript and CSS customisation you could achieve the same thing, especially using the provided callbacks.

[2020-06-29 20:28] gortron commented on #68
Thanks Michele. I'll let you know if I accomplish this with JS/CSS.

(Well done on the component, by the way!)

[2020-06-29 20:28] #68 closed

[2020-07-03 08:47] DeLuke84 commented on #61
@fartinmartin Thanks for your support. I can confirm, that solution 1 is working fine. It didn't come into my mind just to wrap the complete <MDXRenderer> instead the mdx file itself.

I also tried option 2 and 3. But at least for my project both solutions don't work.

Thanks again for your support. :)

[2020-07-06 17:20] Blobson opened #69 "useLightbox() hook does not work with multiple SRLs on a single page"
**Describe the bug**
I have several images on a page each opening a separate gallery in an SRL. I have setup multiple `SRLWrapper` objects with different lists of images provided via `images` prop and tried to use `useLightbox()` hook to open SRL but it is always showing the same list of images from the 1st `SRLWrapper` on a page.

**To Reproduce**
1. Setup two `SRLWrapper` objects with different

[2020-07-06 17:52] michelecocuccio commented on #69
@Blobson hello. If you want multiple light-box on a single page you need to wrap each one in their own `<SimpleReactLightbox>` component like this

`
<SimpleReactLightbox>
  <SRLWrapper>
     Gallery 1
  <SRLWrapper/>
<SimpleReactLightbox/>

<SimpleReactLightbox>
  <SRLWrapper>
     Gallery 2
  <SRLWrapper/>
<SimpleReactLightbox/>

<SimpleReactLightbox>
  <SRLWrapper>
     Gallery 3
  <SRLWrapper/

[2020-07-06 22:01] Blobson commented on #69
Tried without luck. The issue still persist.
Maybe it's because I am using images prop:
[code]
and here is how I use it:
[code]
and here is the error:
[code]

[2020-07-06 22:19] Blobson commented on #69
Found a workaround:
[code]

[2020-07-06 22:24] michelecocuccio commented on #69
@Blobson it should be
`const { openLightbox } = useLightbox()`

(don't need the "()")

[2020-07-06 22:26] Blobson commented on #69
Sure it's just a typo in my example. It does not appear in real code.

[2020-07-06 22:29] Blobson commented on #69
It works after I've applied the workaround, to bring hook inside `SimpleReactLightbox` context.
But now I see warnings:
[code]

[2020-07-07 07:23] michelecocuccio commented on #69
@Blobson this is not related to the light-box itself. Are you adding different keys to all of your images? Each image must have a unique key. This a generic React message that enforce the rule to adding a unique key especially when looping through an array or an object. Please read more [here](https://reactjs.org/docs/lists-and-keys.html#extracting-components-with-keys) :)

[2020-07-10 03:40] YahyaBagia commented on #62
@michelecocuccio Thank you for the awesome package. Just keep us informed here on this issue about the typescript availability. Can't wait to try my hands on this. Thank you once again..!!

[2020-07-10 16:39] ssazero opened #70 "Strange behavior on iOS (while zoomed in)"
Hello, I used your simple-react-lightbox in my last project and it's awesome! Unfortunately, I found a really strange behavior after zooming in and moving images in iOS devices.
While moving the image it stutters and crashes.

I'm using the latest Gatsby version, but I've tested your live demo on my iPhone XS and iPad 10.2 and I encountered the same problem.

1. Click any image
2. Zoom in
3. Touch

[2020-07-10 21:39] michelecocuccio commented on #70
@ssazero thanks. I am aware of this issue. I will fix it on the next release. I am currently on holiday so it might take couple of weeks but it's already on my list.

[2020-07-10 21:41] #70 closed

[2020-07-22 13:49] muscaiu opened #71 "costrolls missing in fullscreen"
Hello, first of all great job with this library, i love it!
I wanted to implement it in our project, but i found and issue.

The controls dissaprear on fullscreen and instead there is a plus sign that behaves weird.

![2020-07-22_16-43-23](https://user-images.githubusercontent.com/11426309/88183789-93ea5980-cc3a-11ea-8ab9-45a5558bf477.png)

Is this a known issue? I couldn't find anything related t

[2020-07-22 14:41] michelecocuccio commented on #71
@muscaiu this is not a bug. This is how fullscreen works in any given browser whenever is implemented using the [Javascript full screen API](https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API). This is to display an image without distraction. In the case of a video you will have controls coming from the video itself. Image has no control. Thanks

[2020-07-22 14:41] #71 closed

[2020-07-22 14:48] muscaiu commented on #71
Hey, @michelecocuccio  if you look at this library demo https://fslightbox.com/react , the controls are still available in the fullscreen mode. Any plans of adding it to this library soon?

[2020-07-22 20:13] michelecocuccio commented on #71
@muscaiu I will see what I can do on the next release :)

[2020-07-23 13:33] muriloneo opened #72 "Uncaught ReferenceError: regeneratorRuntime is not defined"
**Describe the bug**
When I try to download image I get this error: `index.es.js:31 Uncaught ReferenceError: regeneratorRuntime is not defined`

**Environment*
ReactJs

**To Reproduce**
1. install
2. Create a wrapper with images
3. Click image
4. Click download button

**Screenshots**
![image](https://user-images.githubusercontent.com/16191560/88292345-e7f34d80-cccf-11ea-90b3-8ec2c49f2712.png)

[2020-07-23 15:43] Gid733 opened #73 "Redirect while all images not loaded fully"
**Describe the bug**
Bug happens when there're a lot of pictures to be loaded. Basically, when there're like 100 pictures and thumbnails to be loaded - on thumbnail click gallery reroute you to a route that doesn't exists and not opening a lightbox.

**Environment**
Latest version of CRA, React 16.13.1, Node 12.16.2, Chrome 84.0.4147.89

**To Reproduce**
1. Create basic CRA app.
2. Add page with 1

[2020-07-23 15:53] michelecocuccio commented on #73
@Gid733 can I see a more complete example? Have you wrapped your code correctly in the `<SimpleReactLightbox>` component and `<SRLWrapper>` component? I think the problem in your case is that you have a function as "href"... I will need to test a similar case as nothing like this ever happened to me before. Are you able to reproduce your example in a sandbox?

[2020-07-23 15:54] #69 closed

[2020-07-23 15:56] michelecocuccio commented on #72
@muriloneo hello! Are you using Babel? I can't reproduce this error in any environment. This error seems related to Babel. Can you let me know which version of React and Create React App are you using? Are you using Gatsby or NextJS? Please specify better the environment so I can reproduce the issue. Thanks

[2020-07-23 16:02] Gid733 commented on #73
Yes, I've wrapped it this way. Some more screenshots for you. I'm pretty sure it happens because of <a> tag. But the strange thing it's fully working if I would wait till all thumbnails are here. I would try to reproduce it in the sandbox for you later today or tomorrow.
![image](https://user-images.githubusercontent.com/9092606/88309253-b6ea3b80-cd16-11ea-9e26-c4f5752efbc2.png)
![image](https://u

[2020-07-23 16:04] michelecocuccio commented on #73
Thanks. In the meantime I will do some testing on my own. I have an image loaded check to see if all the images are loaded. Sorry I am currently on holiday i will try to do my best to fix it when I am back.

[2020-07-23 16:25] muriloneo commented on #72
Yes. I am using babel:

"react": "16.9.0",
"@babel/runtime": "7.0.0",
"@babel/core": "7.0.0",
"@babel/plugin-proposal-class-properties": "7.2.1",
"@babel/plugin-proposal-decorators": "7.2.2",
"@babel/plugin-proposal-do-expressions": "7.0.0",
"@babel/plugin-proposal-export-default-from": "7.0.0",
"@babel/plugin-proposal-export-namespace-from": "7.0.0",
"@babel/plugin-proposal-function-sent": "7.0.0

[2020-07-23 19:20] rustamveer opened #74 "Getting error while using SRL with Next.Js"
Hi

I have a website in Reactjs and now I am moving it to NextJS. However, I am getting an error when I used the Simple React lightbox. Basically, I wrapped the images between <SRLWrapper>

I render things on ServerSide using Appollo. This package works perfectly with plain Reactjs app

### Error:
Unhandled Runtime Error
TypeError: p.dispatch is not a function

Call Stack
<unknown>
node_modules\si

[2020-07-23 19:29] michelecocuccio commented on #74
@rustamveer I can't see your code but I assume you have wrapped everything in the `<SimpleReactLightbox>` first and then `<SRLWrapper>` right? You haven't mentioned `<SimpleReactLightbox>` in your comment so I believe you forgot.

In nextJS you can use the "_app.js" file and something like this.

So you will do something like:

[code]
and then in any of your page you can use the `<SRLWrapper>` com

[2020-07-23 19:51] rustamveer commented on #74
@michelecocuccio  Yeah, you are right. It is my mistake, Sorry. I missed adding <SimpleReactLightbox >.
It works flawlessly with Next.js too

Thank you

[2020-07-23 19:57] #74 closed

[2020-07-24 10:39] Gid733 commented on #73
@michelecocuccio successfully reproduced on code sandbox. Just open it and click fast on any thumbnail you see - it would be opened in separate page, not in lightbox.
https://codesandbox.io/s/bug-with-click-on-not-loaded-thumbnails-qitqk

[2020-07-24 10:51] michelecocuccio commented on #73
@Gid733 thanks. I can see the issue. I will check what I can do to fix that when I am back as I maybe have an idea. Although I think loading 400 images is not really a good practice anyway.

[2020-07-24 12:11] Gid733 commented on #73
@michelecocuccio thanks. 400 images is just to reproduce the issue, since I could not find a free API that would be capable to give images from something like S3, I'm loading like 20 at once to make a preview for screenshots, but since server is not very powerful it takes some time to load them all, since they are pulled from S3 storage with a low connection for some users. Basically if you have a

[2020-07-24 14:02] michelecocuccio commented on #73
@Gid733 You are absolutely correct. I will try to understand why my imageloaded validation is not working. Thanks for pointing out this issue.

[2020-07-28 12:57] muriloneo commented on #73
I just have a similar issue. My images are getting a delay to correct load from S3 (using S3Image) and the lightbox opens a 1x1 image. If I reload the page the image is cached and it shows fine.

[2020-07-31 11:49] supreet-js-logger opened #75 "Is there a way i can give a fallback image if my image/thumbnail is breaking"
**Describe the bug**
I get images from third party and those images may or may not work some time. I want to give a fallback image in such scenario.

**To Reproduce**
Please include steps to reproduce the behaviour:
1. Pass an invalid image in the gallery
2. I see a broken image in the lightbox.
3. I show image lightbox on click of button and have passed images using props as an array as i want to

[2020-07-31 14:59] michelecocuccio commented on #75
@supreet-js-logger thanks for the question (please next time select "question" and not "bug" as this is not a bug).

In regards of your question, I think that's out of the scope of the Simple React Lightbox. You could instead use JavaScript to detect images that are not loading or that are returning a 404 and replace them with something else. The Simple React Lightbox only takes care of the light-

[2020-07-31 14:59] #75 closed

[2020-08-02 11:30] daveteu opened #76 "Thumbnails jumping"
I used the following codes but the thumbnails is jumping back to the start whenever i click on it, especially if there's many images.

Bug is showing on iphone. Desktop seems fine.

![Video](https://user-images.githubusercontent.com/18649392/89121961-06d6b880-d4f6-11ea-8ee0-4b5ab109331e.gif)

[code]

[2020-08-02 12:15] #72 closed

[2020-08-02 12:16] #62 closed

[2020-08-02 12:16] #56 closed

[2020-08-07 11:28] qwIvan opened #77 "Request: Support i18n?"

[2020-08-07 16:42] michelecocuccio commented on #77
@qwIvan please refrain to open something as a bug if is not :)

Thanks. I will add supporto for i18n on the next release probably.

[2020-08-08 12:32] milianriedel commented on #11
@michelecocuccio But image in lightbox is small with width 300px and height 300px, right? How I add bigger image for lightbox? If I query image one more time (fluid this time with maxWidth: 1000px for example) and wrap <Image /> with link with this fluid image in href and add data-attribute="SRL", then is showing only thumbnail and lightbox is stucked with "Loading…". Is there a possibility to mak

[2020-08-08 15:36] michelecocuccio commented on #11
@milianriedel I don't fully understand what you mean. You define the size of your Gatsby image based on the image itself. Can you provide a demo on CodeSandbox or similar so I can understand what you mean?

[2020-08-11 21:46] azaandam commented on #11
I'm having a similar issue as @milianriedel, only I'm using an array of images. Basically I use gatsby-image to display the thumbnail images in the gallery, and for the lightbox I pass the full-size image URL's as href to the anchor tags with the
`data-attribute="SRL"` attribute. But somhow the full size image URL isn't getting passed to the lightbox image to populate the source (SRLImage `src="Lo

[2020-08-12 06:31] michelecocuccio commented on #11
@azaandam I think the problem is using it with Gatsby image as a thumbnail. I will do some testing and try to reproduce the issue myself. Thanks

[2020-08-12 07:34] milianriedel commented on #11
@michelecocuccio Sorry, for delay. Yes, I have same problem as @azaandam. I tried to create gallery with thumbnails with gatsby-image and for lightbox with full size Image (image.publicURL for link with data-attribute="SRL"). Also there is now to show just one image thumbnail of gallery (rest hidden) and in lightbox load all of them. I tried it with css show only one thumbnail, but it broke the co

[2020-08-14 22:18] candrescastel opened #79 "I need help, My component doesn't work"
*Sorry, this is not a bug, is a question

I use create-react-app

There is my issues:

**1.** Button with Hook trigger an error = **TypeError: n.dispatch is not a function**

**My code:**

[code]

[2020-08-15 01:40] candrescastel opened #80 "Is there a way to custom icons?"
Hi, thanks for the lib, i would like to custom icons, i know this could be something innecesary but i'm a designer :)

[2020-08-15 02:25] joshuaiz opened #81 "Add support for dynamic images"
Hello,

My component has dynamically changing images based on what a user clicks however SRL is not updated with the new image(s). It only displays the first image when the component initially renders.

When the image is updated, it doesn't seem like there's a way to update the SRL wrapper to know this.

[code]

It would be great if the `openLightbox()` hook was expanded to not only include the in

[2020-08-15 06:27] kyleawayan commented on #79
Did you wrap `<SimpleReactLightbox>` and `</SimpleReactLightbox>` around your app.js?

[2020-08-15 06:39] michelecocuccio commented on #80
@candrescastel thanks. I will consider add support for custom icons but not in the near future, maybe on the next release.

[2020-08-15 06:39] #80 closed

[2020-08-15 06:45] michelecocuccio commented on #81
@joshuaiz hello. `<SRLWrapper> `already detects if you add more images and re-render as you can test on the API example on the official website. Changing a link will not cause a re-render because neither props or context were changed. I will try to see if there is a clean way to implement this but this is really an edge case scenario. I will see if I have time to do some work on this for the next

[2020-08-15 06:45] #81 closed

[2020-08-15 07:01] michelecocuccio commented on #79
@kyleawayan in case of Create React App you need to wrap the index.js file with `<SimpleReactLightbox>` and then you can use the light-box in any other component.

This is the "index.js" from Create React App and you need to wrap  `<SimpleReactLightbox>` around your `<App>` or any other way you want to structure this.

[code]

[2020-08-15 07:01] #79 closed

[2020-08-15 19:49] kyleawayan opened #82 "Make download button lead to a different link?"
I'm using this with [react-photo-gallery](https://github.com/neptunian/react-photo-gallery) and I was wondering if there's a way to redirect to another link with the download button.

[code]

I have a low-res picture as `src` for the main picture that shows on the webpage, for faster loading time. Is there a way to redirect to the full-res picture when someone clicks the download button? Like if I

[2020-08-15 20:05] michelecocuccio commented on #82
@kyleawayan not really. The download button downloads the current image. I think is counter intuitive to download something else. I will think to maybe add custom "link" for the download button in the near future maybe improving the whole functionality but not for now. Sorry :(

[2020-08-15 20:05] #82 closed

[2020-08-15 20:09] joshuaiz commented on #81
@michelecocuccio No worries. https://github.com/aautio/react-modal-image can do what I want but SRL is a great plugin and will use it in other projects.

[2020-08-16 16:49] michelecocuccio commented on #77
@qwIvan this has ben added in version 3.3.0 and above.
I have added the possibility to add custom text for the buttons and therefore you can now translate the buttons.

[2020-08-16 16:49] #77 closed

[2020-08-16 16:49] michelecocuccio commented on #76
@daveteu this should be fixed in version 3.3.0 and above.
Please make sure to update to the latest version.

[2020-08-16 16:49] #76 closed

[2020-08-16 16:50] michelecocuccio commented on #73
@Gid733  this should be fixed in version 3.3.0 and above.
Please make sure to update to the latest version.

[2020-08-16 16:50] #73 closed

[2020-08-16 16:51] michelecocuccio commented on #64
@daiky00 this should be fixed in version 3.3.0 and above.
Please make sure to update to the latest version.

[2020-08-16 16:51] #64 closed

[2020-08-16 16:51] michelecocuccio commented on #11
@milianriedel @ds-codemag this should be fixed in version 3.3.0 and above.
Please make sure to update to the latest version.

[2020-08-16 16:51] #11 closed

[2020-08-16 16:52] michelecocuccio commented on #81
@joshuaiz I have added an observable to the attributes and this will now detect changes to the source image. This has been added in version 3.3.0 and above. Thanks

[2020-08-16 17:14] daiky00 commented on #64
@michelecocuccio  thank you very much 😃

[2020-08-17 09:19] michelecocuccio commented on #71
@muscaiu full screen has been improved and control added in version 3.3 and above.
Thanks

[2020-08-17 20:16] azaandam commented on #11
Thanks @michelecocuccio for the quick fix. The update works perfectly.

[2020-08-17 20:18] michelecocuccio commented on #11
@azaandam I am very happy to hear that. I haven't fully tested with Gatsby images but this should cover most of the cases. Gatsby image really has a complex structure in terms of creating the image. Let me know if you encounter any other issue.

[2020-08-17 21:35] dvreed77 opened #83 "Not Working with Gatsby 2.24.26"
**Describe the bug**
SRL Doesn't render Gatsby Images using <Img>, but does render plain <img>.

Reference code below, my Gatsby page renders all Images, but only the placekitten image is clickable and will render in slideshow.

**Environment**
Gatsby 2.24.26
simple-react-lightbox 3.3.3

**To Reproduce**
- Wrap page in gatsby-browser.js with SimpleReactLightbox
- Wrap images in Gatsby page with SR

[2020-08-17 21:50] dvreed77 commented on #83
I saw issue #11, but it seems like this still isn't working

[2020-08-17 21:50] michelecocuccio commented on #83
@dvreed77 it's likely I have introduced this bug with the last fixes. I will fix it as soon as possible, thanks.

[2020-08-17 22:39] michelecocuccio commented on #83
@dvreed77 I have just added a fix in v3.3.4.
Can you give it a go? Also it will be awesome if you could replicate your project to a CodeSandbox or if it's public if you could give me the link to the repo so I can fork it. I don't have much time right now but I need to find a Gatsby theme that loops through images (like yours). Or if you know a pre-made theme like this let me know. I need to do a l

[2020-08-17 22:39] #83 closed

[2020-08-18 11:59] dvreed77 commented on #83
@michelecocuccio let me figure out a way to get a demo of Gatsby on CodeSandbox, would love to contribute something if I can.

[2020-08-18 12:20] michelecocuccio commented on #83
@dvreed77 thanks, no rush! :)

[2020-08-18 12:46] dvreed77 commented on #83
@michelecocuccio I shared a sandbox with you. Gatsby seems a little flaky with CodeSandbox, but it works!! Thanks for the help

[2020-08-18 14:36] michelecocuccio commented on #83
@dvreed77 thank you very much. Where did you shared that?

[2020-08-18 19:00] dvreed77 commented on #83
@michelecocuccio here is the link. I figured you would get an email or something.

https://codesandbox.io/s/crazy-kare-8wik5?file=/src/pages/index.js

[2020-08-18 21:46] michelecocuccio commented on #83
@dvreed77 thanks a lot :) I have tweaked your example a bit and I have created mine (you were using "allImageSharp" query, I am using "allFile" query so you can select the images that you want from a specific folder. I have added the example folder to the repository so that it can help anyone using Simple React Lightbox with Gatsby and gatsby-images.

Thanks again 👍

[2020-08-19 07:11] daiky00 commented on #64
@michelecocuccio now that you fix this. I am now getting an error from the plugin
here is an image. any idea what it is?

<img width="1594" alt="Screen Shot 2020-08-19 at 1 57 52 AM" src="https://user-images.githubusercontent.com/15005162/90603587-1f66f400-e1c1-11ea-878a-97f9aacc7d60.png">

and this is the code do you see something that is off. This was working 100% in version:  `"simple-react-lig

[2020-08-19 07:51] michelecocuccio commented on #64
@daiky00 sorry for that. I just a folder with an example using Gatsby and gatsby images and I haven't had any issue. It's difficult for me to reproduce your code, could you maybe please create a CodeSandbox demo for me?

[2020-08-19 18:41] daiky00 commented on #64
@michelecocuccio I updated to the version you said and everything works now thank you very much

[2020-08-27 16:30] ddsleonardo opened #84 "Uncaught TypeError("Cannot instantiate an arrow function")"
Hi there,

First of all, I'd like to thank you for such a simple and amazing tool!

I've encountered an issue which is closely related to this: https://github.com/codesandbox/codesandbox-client/issues/4300
I tried to implement the SRL in a React App but never got it working, always getting the error mentioned in the title. After a bit of reading, I manage to 'fix' it by adding `"use strict";` to t

[2020-08-27 16:47] michelecocuccio commented on #84
Hi @ddsleonardo thanks for your kind comment :)

The issue that I had with CodeSandbox wasn't related to the Simple React Lightbox but, instead, with CodeSandbox code. I never used Simple React Lightbox with Meteor but it seems to me that this is an issue with the configuration of your project OR with your Typescript config.

I never added "use strict" by default to Simple React Lightbox as I don'

[2020-08-27 17:23] ddsleonardo commented on #84
Thanks for the prompt reply. Would very much appreciate if you could investigate the interaction with Meteor. Let me know if at any point you'd like more details on package versions or anything.
Other than that I have encountered no issues, so will keep using with the 'fix' for now.

[2020-08-27 22:14] michelecocuccio commented on #84
@ddsleonardo I can confirm that the problem is with Meteor as I just run some tests and I was getting the same error. The problem is that for some reasons, Meteor is not supporting the "index.es.js" file which is bundled in an ECMAScript Module aware way. So a solution is to change your import to be:

`import SimpleReactLightbox from "simple-react-lightbox/dist/index"`
and
`import { SRLWrapper } f

[2020-08-28 13:07] ddsleonardo commented on #84
Hi @michelecocuccio ,

I have un/reinstalled the package, to make sure I'd get the error again, and I did.
I then changed my imports to the ones above, and I can confirm that this solved the problem!

Many thanks for the prompt support! Amazing work.
Leo.

[2020-08-28 13:07] #84 closed

[2020-08-30 19:33] AkshayToraskar opened #85 "Add custom button in srl"
is it possible to add custom button with custom events in SRL, like delete image

[2020-08-30 20:42] michelecocuccio commented on #85
@AkshayToraskar hello.

Thanks for asking.
Unfortunately, I think this will be out of the scope of Simple React Lightbox. You can delete the image using simple JavaScript code I guess :)

Thanks again!

[2020-08-30 20:42] #85 closed

[2020-08-30 20:49] AkshayToraskar commented on #85
i was planning to add button inside lightbox, is there any way that makes possible with javascript if possible please suggest some demo

[2020-09-05 20:13] JeffMusgrave opened #86 "Can't perform a react state update on an unmounted component"
I'm using create-react-app, easy-peasy (a redux + immer state management lib) and SRL.

Currently I am getting an unmount error. There's a previous issue with the same bug where you mentioned there were no async functions in SRL, but there is one here: https://github.com/michelecocuccio/simple-react-lightbox/blob/d692cf2ebceb9a4fe0ef337716aec7c26f9491c9/src/SRL/SRLLightbox/SRLLightboxGallery/index

[2020-09-05 20:31] michelecocuccio commented on #86
@JeffMusgrave hello :)

It's a bit difficult to understand what the issue is here. I am pretty confident that the async function is not the issue there as is never called unless you click the button to download the image.

Unfortunately your code seem quite vast so I have no way of reproduce something similar. If will be really helpful if you were able to create a CodeSandbox. Also, that's just a

[2020-09-05 23:52] JeffMusgrave commented on #86
Hey, thanks for offering to take a look. I took some time to try and simplify the code—as a result the site does't look pretty, but it should be much easier to sift through!

Here it is:
https://codesandbox.io/s/vigorous-cookies-dq8nc

Cheers!

[2020-09-11 07:02] pangeaos commented on #86
Same error!!!

[2020-09-13 16:39] zcmgyu commented on #67
Same issue here

[2020-09-20 09:50] AwrminKhodaei opened #87 "openLightbox throws n.dispatch is not function in Nextjs"
**Describe the bug**
im using light-box with nextjs v9.4.1. everything works very well unless i call openLightbox function to open light box from a custom button

**Environment*
NextJS 9.4.1

[2020-09-20 09:55] AwrminKhodaei commented on #87
I'm destructuring like this:
`import { useLightbox } from "simple-react-lightbox";`
` const { openLightbox } = useLightbox();`
and calling function like this:
`<Button onClick={() => openLightbox()} >Open Light Box</Button>`

[2020-09-20 15:29] michelecocuccio commented on #87
@AwrminKhodaei have you wrapped your app with your` <SimpleReactLightbox>` component? Is difficult to understand what's your issue. I am sure it's about the way you are composing your app. The function must be called from a Component nested in the ` <SimpleReactLightbox>` component. Please let me know, I am sure that's the issue.

[2020-09-23 10:46] AwrminKhodaei commented on #87
@michelecocuccio i found the problem. previously `<SimpleReactLightbox/>` was wrapped in my page but i changed it to wrapp whole app in _app.js file and problem solved.

[2020-09-23 10:46] #87 closed

[2020-09-25 07:17] lyquocnam opened #88 "[Feature Request] Need to custom event to SRL"
dear author,
I need to disable open lightbox when click image in SRL component and do it manually.
How to do that ?

[2020-09-25 08:01] michelecocuccio commented on #88
@lyquocnam hello :)
So you wan't to close the light-box when clicking on an image in an opened light-box? In terms of UX/UI this is not ideal, because when you click on the image there is the panzoom functionality kicking in. Is this what you mean?

[2020-09-25 15:18] lyquocnam commented on #88
Hello @michelecocuccio :)
[code]
default when click to an image, lightbox will be show. so i want disable this action. Because i have another behavior and show lightbox after that.
thank you !

[2020-09-25 15:26] michelecocuccio commented on #88
@lyquocnam sorry is not possible and it doesn't make sense to be completely honest.

If you want to exclude some images from the light-box simply don't wrap them around the `<SRLWrapper />` component. If you want to use the light-box and do something with the image you can use this approach [https://simple-react-lightbox.dev/with-images-as-prop/](https://simple-react-lightbox.dev/with-images-as-pr

[2020-09-25 20:29] Matti93GL opened #89 "Full Screen don't work on iPad devices"
**Describe the bug**
Full Screen don't work on iPad devices.

**To Reproduce**
Please include steps to reproduce the behaviour:
1. Open the Image Gallery
2. Click on Full Screen Button
3. The full screen don't work, nothing is happend

**Additional context**
This only happend on iPad devices
<img width="980" alt="ipaderror" src="https://user-images.githubusercontent.com/62907714/94313044-654b7080-

[2020-09-25 21:40] michelecocuccio commented on #89
@Matti93GL thanks.
Apparently the returned promise doesn't work in Safari. As I am working on a big release, I will just release a quick fix in the next few days. Nice catch, thank you very much.

[2020-09-27 08:11] alisayed95 opened #90 "crashes when ever the images are not fully loaded"
when I call the photos from the server it's crashes and when it's cached everything works fine
could you help me please??

[2020-09-27 08:44] michelecocuccio commented on #90
@alisayed95 Sorry, you need to be more specific than this.

What crash? What happens? What's the error? How are you loading the images? You shouldn't be able to click on the images when the light-box is loading. Which version are you using? Where does the issue happen? Can you provide a CodePen example ora share the code you are using.

Without any information, I can't give much help I am afraid.

[2020-09-27 08:45] #88 closed

[2020-09-27 09:29] alisayed95 commented on #90
when ever I click to the button that have a group of images it crash when all of the images aren't fully loaded, but when it's fully loaded and cached everything is okay

[2020-09-27 10:26] michelecocuccio commented on #90
@alisayed95 sorry is still not clear. You mean a button to open the light-box? Using the hook? What's the error. You need to show me exactly what's going on or I won't be able to help you.

[2020-09-28 04:46] MykalMachon opened #91 "Error: n.dispatch is not a function"
**Describe the bug**
When using the openLightbox() hook, an error is thrown called `n.dispatch is not a function`. Despite the error being thrown everything seems to operate just fine.

**Environment**
I'm using the newest version of Next.js (9.5.0), Node version 12.18.3, and React 16.13.1

**To Reproduce**
1. Wrap your component in `<SimpleReactLightbox> </SimpleReactLightbox>`
2. Pass images int

[2020-09-28 04:57] MykalMachon commented on #91
After looking through existing issues from users with similar problems, [this solved my issue](https://github.com/michelecocuccio/simple-react-lightbox/issues/69#issuecomment-654493310)

I'm not sure why this works, I have a hunch that it has something to do with the `<SRLWrapper />` component needing to be wrapped a level below the `<SimpleReactLightbox />`. Once I did that everything, my error w

[2020-09-28 04:57] #91 closed

[2020-09-28 08:01] michelecocuccio commented on #91
@MykalMachon hello. Glad you figured it out. Is not an issue, is normal behaviour. You need to wrap the `<SimpleReactLightbox>` first at the top level and then the `<SRLWrapper>` component 👍

[2020-09-28 13:03] Matti93GL commented on #89
Hi @michelecocuccio thanks for the update ! i will wait that fix ! :) Thank you !

[2020-09-28 17:20] Matti93GL commented on #89
@michelecocuccio if you see the gif, you can see that the panzoom is not working correclty ! I see a bug is closed about that but i think is not working fine yet

[2020-09-28 18:52] michelecocuccio commented on #89
@Matti93GL what's is not working fine? What device are you using? What OS are you using? I don't see anything related to panzoom on the GIF. Also please let's leave this issue focused on the fullscreen functionality. Thanks

[2020-10-01 13:25] DLevai94 opened #92 "Can't see buttons with Preact"
**Describe the bug**
If I add Preact to NextJS project I cannot see the controls of the Lightbox. It looks like it's in the DOM, when selecting the elements, they actually taking up space, but can't see them.

**Environment*
NextJS@latest, simple-react-lightbox@latest, preact@latest & TailwindCSS@latest

_app.js:
[code]

Page:
[code]

This is my config:
[code]

**To Reproduce**
Create a project wi

[2020-10-01 13:32] michelecocuccio commented on #92
@DLevai94 hello.

Sorry but Simple React Lightbox hasn't been tested with Preact. I have never considered Preact to be honest especially with NextJS. I will see If I can do some testing at some point and see what's the issue.

[2020-10-01 13:32] #90 closed

[2020-10-01 13:36] DLevai94 commented on #92
I'll be pretty sure to contribute and help with this issue, if you have any idea, where should I start looking for it

[2020-10-01 13:42] michelecocuccio commented on #92
@DLevai94 Unfortunately I have used Preact a long time ago in the past, and I had so many issues that I have never used it again so I don't know what they are stripping out from the latest versions of React.

If you want to contribuite you can just download the repo and test it with a Preact app instead with a React app? The controls for the lightbox are located [here](https://github.com/micheleco

[2020-10-05 12:13] michelecocuccio commented on #92
@DLevai94 hello.

I have done some testings with Preact/NextJS. I didn't had any issue with the buttons / icons using your exact settings so I am afraid I don't know what's happening.

Although I have found another issue due to the incompatibility with Preact and Framer Motion (which is used by Simple React Lightbox). The lightbox was crashing when closing it. Unfortunately is difficult to get at

[2020-10-05 12:15] DLevai94 commented on #92
@michelecocuccio Thanks for checking it out. I've closed it without any issue, by clicking on the overlay or pressing `Esc`

[2020-10-05 12:19] michelecocuccio commented on #92
@DLevai94 oh gosh!

Sorry to bother you. Can I ask you to link a copy of your package.json? I have used [this](https://github.com/vercel/next.js/tree/canary/examples/using-preact) to test it with Preact/NextJS. And it has the following:

`    "next": "^9.4.0",
    "preact": "^10.4.4",
    "preact-render-to-string": "^5.1.9",
    "react": "github:preact-compat/react#1.0.0",
    "react-dom": "github

[2020-10-05 12:25] DLevai94 commented on #92
Sure. Used these packages:

[code]

With this `next.config.js`:
[code]

Can't link it, because it's a private repo, but here're the 2 files in a gist: https://gist.github.com/DLevai94/3d644d6cdbecc35270e63904c2cb6635

[2020-10-05 15:19] michelecocuccio commented on #92
@DLevai94 I have done some other tests and still I have issues with Preact when closing the lightbox (which as I mentioned, I have now fixed) so doing some testing with Preact was useful, thanks!

Unfortunately I don't have a clue why the icons are not showing for you. They are rendered in the document from what I can see so it could be that something else is conflicting with the style, probably t

[2020-10-05 15:19] #92 closed

[2020-10-08 17:38] michelecocuccio commented on #86
@pangeaos @JeffMusgrave Hello :)

I have finally found the issue. This will be fixed with the next big release which is going to happen soon. Basically if images are being fetched or loaded, and the user changes page, the lightbox will get the new images (that's correct) but React will keep fetching/loading the other images and try to mount them in the now unmounted component. That was causing the

[2020-10-08 17:38] #86 closed

[2020-10-08 17:40] michelecocuccio commented on #66
@JeffMusgrave this will be implemented on the next release, but is going to be on a PRO version. I have put a lot of work on this and I am working alone on this project. The PRO version will contains some new features including the possibility to change the icons. Some of the features will be removed from the free version unfortunately. Don't worry though. The PRO version will be really cheap.

[2020-10-08 17:40] #66 closed

[2020-10-08 17:40] #89 closed

[2020-10-12 03:27] JulienHe opened #93 "Image as background"
Hello,

Thanks for the hard work and the amazing project!
I was wondering if it will be possible to actually have a picture as background?
![image](https://user-images.githubusercontent.com/718868/95702051-2fadc380-0c86-11eb-9393-7ac7065d5316.png)
Something like this.

Thank you!

[2020-10-12 08:19] michelecocuccio commented on #93
@JulienHe hello.

It will be soon. I am working on a new release which support this feature.
Eventually you can target the body and the class `SRLOpened` to override the background with plain CSS for now.

Thanks

[2020-10-12 08:19] #93 closed

[2020-10-13 19:00] stonesthatwhisper opened #94 "Is it suitable for implementing a Instagram style lightbox?"
By instagram-style, I mean having an image and an info+chat in two columns. Is this outside of the scope for this project? Thx.

<img width="1155" alt="Screen Shot 2020-10-13 at 12 04 45 PM" src="https://user-images.githubusercontent.com/6599254/95904464-69490200-0d4c-11eb-89d7-b3ef0c8f96ea.png">

[2020-10-13 19:55] michelecocuccio commented on #94
@stonesthatwhisper this is out of the scope of this project. Sorry.
Thanks for asking

[2020-10-13 19:55] #94 closed

[2020-10-20 16:32] stfndlng opened #95 "Perceived lag / slow performance with gatsby"
So I use SRL with gatsby but no matter which settings I chose I can't help but feel a certain lag / slow responsiveness when the lightbox loads or transition between slides. (see video attached)
I wanted to try to disable the spring physics as I suspect it might have to do with that but I can't seem to find an option to disable it.

Any ideas?
Maybe you can add a way to disable the spring feature?

[2020-10-20 19:11] michelecocuccio commented on #95
Hello @stfndlng
I have tested with Gatsby many times and I never had performances issues. Physic is disabled when you used "fade" as option for "slideAnimationType". There could be tons of things that could affect this. Have you tested in another browser? Have you run a performance check using some tools? Have you updated your browser? It's really difficult to narrow this down but I will do some o

[2020-10-20 19:11] #95 closed

[2020-10-20 20:42] stfndlng commented on #95
Thanks for clarifying.
Yes I have tested it on latest Chrome, Firefox and Safari. All packages are also up to date.
This is local btw; using the develop build, will try to see if the production build is different. In the meantime, is it possible to disable any animation/transition completely or could this be added?
Thanks again

[2020-10-20 20:58] michelecocuccio commented on #95
@stfndlng is not possibile at the moment I am afraid, I will see what I can do but I can't promise anything right now as I am pretty busy :( I am going to release a new version soon in which I have improved some parts of the code. Although it's wort noticing that this is working fine for me in Gatsby. Also, some other people have been using it with Gatsby and this was working fine. How big are you

[2020-10-21 08:01] stfndlng commented on #95
@michelecocuccio I have now also tested this with a production build and with a larger set of images. The images are served in whatever size `gatsby-image` determines is the best for the current resolution. I have also tried different browser sizes to rule out the image size. The result is always the same.
It does not seem to matter how many images or what size they are. I would love to know what

[2020-10-23 12:44] endrureza opened #96 "SRL state elements not updating to the latest image with images as a prop"
**Describe the bug**
I navigate between two links which fetching new images, and using the images as prop with SRLWrapper

[code]

everytime i click open gallery, the images don't change. it keeps showing the first group images that been loaded. i check the elements state, it doesn't change either. and why elements state not grabbing the fresh images ?

**Environment**
Next.js 9.5.2
Node v14.6.0
R

[2020-10-23 16:42] michelecocuccio commented on #96
@endrureza hello.

Can you please reproduce your example on CodeSandbox? I can't reproduce your issue but I don't understand how are you fetching the images? Are you fetching them asynchronously and then passing them as props? A more complete example would be better. I have fetched images before and set them with the state and everything works normally. Maybe there is an issue with your useEffect?

[2020-10-23 20:56] JeffMusgrave commented on #86
@michelecocuccio hey just wondering what kind of ETA you have on the new update for the free and pro versions?

Cheers!

[2020-10-23 22:49] michelecocuccio commented on #86
@JeffMusgrave sorry, I am the only one working on this project and I have to prioritise actual freelance work that gives me some money! I am aiming to release it in around 2 weeks. Just worth mentioning that the issue opened here is not causing any "memory leak" so your application is safe. Of course this will be fixed and will improve the lightbox even more. So sorry for the delay!

[2020-10-24 15:31] endrureza commented on #96
Whoa, never mind. apparently, it's because i don't add key attribute into SRLWrapper, it causes the component to render the same SRLWrapper instead render the new one with new images.

[2020-10-24 15:31] #96 closed

[2020-10-25 10:47] msiric opened #97 "Feature request: Please add boxShadow prop to "Settings options""

[2020-10-25 16:21] michelecocuccio commented on #97
@msiric hello.
Please be more specific. Box shadow for what? The lightbox takes 100% width and height of the screen so you won't be able to see any shadow I am afraid.

Thanks

[2020-10-25 16:29] msiric commented on #97
@michelecocuccio
I have a use case where I would like to add a box shadow behind the image when lightbox is open.
I understand there is a class for this, but that doesn't help since I am detecting the most prevalent color in every image and would like to add that color as a box shadow for every image respectively.
Hopefully that makes more sense.

Thanks

[2020-10-28 09:42] vishald256 opened #98 "Uncaught TypeError: t.apply is not a function"
**Bug**
When clicked on image, browser window goes blank, In console got error as follows, Uncaught TypeError: t.apply is not a function.

**Environment**
I'm using React App based theme for Wordpress and fetching HTML with REST API. I've already wrapped my App inside `<SimpleReactLightbox>` and wrapped `<SRLWrapper>` to a div where dynamic HTML content from API are going to set. Check screenshot

[2020-10-28 10:00] michelecocuccio commented on #98
Hello @vishald256,

I don't have any "apply" function anywhere so I am not sure what it's causing this. I am not even sure is my lightbox or something else. I have only tested the lightbox with pure React code (Gatsby, NextJS or Create React App), never with WordPress so I can't really reproduce this. Unless you are able to create a CodeSandbox demo for me.

Thanks

[2020-11-01 19:52] 7sxzx opened #100 "Is there anyway to set default zoom/scale level of image inside lightbox?"
#### First of all, you saved my day! Can thank enough mate. I hope you're doing great wherever you are!

### Could you please tell me, if there is a way to set default zoom/scale level of image inside Lightbox for each image or all of them together? Or did i miss something?

Looking forward to hear from you!!

Thanks a ton :)

[2020-11-01 20:50] michelecocuccio commented on #100
@7sxzx hello :) Thanks for the question.

Do you mean when using the panzoom functionality? (Clicking and zooming on an image). It will be possibile in the next release as setting, and it will be applied to all the images as the settings are applied to all the pictures, not single one.

Thanks

[2020-11-01 20:50] #98 closed

[2020-11-01 22:31] 7sxzx commented on #100
Ok, but I meant when opening Lightbox by default it's displaying the normal image size. But i want to set a default scale/zoom level for the images.

[2020-11-01 22:43] 7sxzx commented on #96
@endrureza
I'm actually facing the exact same issue.

Could you please please tell me how did you resolve it?

[2020-11-01 22:45] endrureza commented on #96
@7sxzx all i have to do is adding unique key as attribute

[code]

[2020-11-01 22:53] michelecocuccio commented on #100
@7sxzx sorry, I didn't understood the question then.
The images are keeping a ratio to fit the screen and be proportionate with the the thumbnails and the caption. You will see that if you disable the caption or the thumbnails the image ratio increases. I will see if I can add some control for the size in the next release but for now it's working as it should be... keep in mind that you have acces

[2020-11-01 22:56] 7sxzx commented on #96
@endrureza
I tried that, but unfortunately couldn't resolve the issue.

Do you know any other alternative to it?

[2020-11-01 22:56] michelecocuccio commented on #96
@7sxzx are you able to reproduce this issue on a Code Sandbox? I would like to see how people is facing this issue as I am not facing this issue in any way I try.

[2020-11-01 23:04] 7sxzx commented on #96
This is the code snippet almost same a real case.

[code]

[2020-11-01 23:10] 7sxzx commented on #100
@michelecocuccio
Got it. thank you very much.

Looking forward to the next release. Hope it comes out soon.

Closing the ticket

[2020-11-01 23:58] 7sxzx commented on #100
Opening the ticket, Just to keep this in radar as Feature request.

[2020-11-03 08:45] LarsBehrenberg opened #101 "Image Duplicates in Lightbox when using GatsbyImageSharpFluid_tracedSVG fragments"
Hi,

firstly thanks for creating and maintaining this. SRL has really helped me out a lot.

I have ran into an issue where I am using SRL on a gatsby site with tracedSVG fragments (which currently drastically improves Lighthouse scores) and images show up twice inside the lightbox.

![Screenshot 2020-11-03 at 17 35 23](https://user-images.githubusercontent.com/32539217/97963802-0bfc1a00-1dfb-11eb-

[2020-11-03 09:23] michelecocuccio commented on #101
@LarsBehrenberg hello.

I had to add support for the base64 with Gatsby so I guess I will need to add it to the tracedSVG too. There are too many use cases with Gatsby images, and they always produce a different code so it's really difficult to grab the right images every time.

Could you please show me the code where you are using tracedSVG? Are you using GatsbyImageSharpFluid_tracedSVG? I will t

[2020-11-03 10:14] LarsBehrenberg commented on #101
@michelecocuccio thanks for the quick reply!

Just to clarify my use case:
I am using  the [thumbnail custom gallery option](https://github.com/michelecocuccio/simple-react-lightbox#custom-gallery) of SRL wrapping the Gatsby Img in a link with the data-attribute="SRL". As I want the thumbnail (150px wide) to be small and load in with a svg, I query a fixed image using ...GatsbyImageSharpFixed_trac

[2020-11-03 10:16] michelecocuccio commented on #101
@LarsBehrenberg  thanks. I have released a quick fix in version 3.3.4-2. Can you please let me know if this fixes your issue? Otherwise I will need to spend more time on this.

Thanks

[2020-11-03 10:21] LarsBehrenberg commented on #101
@michelecocuccio fixed!

thanks a lot!

[2020-11-03 10:24] #101 closed

[2020-11-03 10:27] michelecocuccio commented on #101
Amazing 👍

[2020-11-04 10:12] zbad opened #102 "Lightbox back button bug"
If you use browser back button, gallery wont open on the image you clicked before.

1. To reproduce, go to: https://simple-react-lightbox.dev/
2. Click on "Gallery with custom captions"
3. Click on one of the images
4. Click browser back button (gallery wont close, but I can solve this with useEffect(()=>{return closeLightbox},[]))
5. Close lightbox manually
6. Click browser forward button, or  "G

[2020-11-04 10:18] michelecocuccio commented on #102
@zbad thanks for this. I have already fixed this with tons of other code improvement and it will fixed in the next big release, you won't need to close the lightbox using useEffect as well as this will be automatically closed and a new instance will be created. Thanks for reporting this :)

[2020-11-06 14:44] ryancybul opened #103 "Feature Request: Video support"
Awesome lightbox!  I'd love to use it in the project I'm working on right now but it requires a mix of photos and videos.

[2020-11-06 15:39] michelecocuccio commented on #103
@ryancybul thanks :)

I am working on a "PRO" version which will add videos support and many more features. Thanks

[2020-11-06 18:13] ryancybul commented on #103
@michelecocuccio 😍  That's great!  I'll be your first customer.  Do you have a rough launch date?

[2020-11-06 18:34] michelecocuccio commented on #103
@ryancybul thanks so much! It will be very cheap don't worry :)

I should launch it by end of the month. Unfortunately due to the current situation I need to prioritise actual work to make some money. But I trying my best to work on this project as well.

Just out of curiosity, which video would you like to be able to implement? YouTube, Vimeo, Twitch and standard web videos?

[2020-11-06 21:59] ryancybul commented on #103
@michelecocuccio The current project I'm working on requires a still of the video on an image gallery which pulls up a YouTube iFrame in the lightbox.  The gallery will also have still images on it as well that.  I'm currently using fslighbtox-react but it's not Gatsby image friendly, has some other quirks, and isn't as customizable as your lightbox.

[2020-11-06 22:24] michelecocuccio commented on #103
@ryancybul thanks for the feeback.

I can indeed confirm that with the next release you will be able to mix all kind of contents. Video (YouTube, Vimeo, Twitch etc...) and Images. 👍

Thanks for the feedback

[2020-11-07 21:21] ryancybul commented on #103
@michelecocuccio  🥳  That's wonderful.  Let me know if there's anything I can do to help move things along.  I'm happy to do testing if you need it.  Cheers!

[2020-11-09 11:57] vishald256 commented on #98
Sorry for delayed response, It seems some configuration issue with webpack, This issue appearing only after generating build with webpack, Could you please help ?
`> webpack -p

Hash: b342fc17defde21ea4cf
Version: webpack 3.12.0
Time: 15238ms
                  Asset     Size  Chunks                    Chunk Names
 images/placeholder.jpg  97.5 kB          [emitted]
images/loading-icon.gif  84.9 kB

[2020-11-09 12:50] michelecocuccio commented on #98
@vishald256 your code is not formatted properly and unfortunately I am afraid that configuration with WebPack is out of the scope of this issue. I am not sure if you are doing something wrong with your WebPack config... Maybe you can try to reproduce your configuration in a CodeSandbox environment so I can take a proper look?

[2020-11-09 19:24] deathemperor opened #104 "Feature request: swipe up/down to close"
First of all, thanks for the awesome lib!

It's a feature that's very useful on Facebook when viewing images. It's also a UX that's popular with many apps. It would be nice to have it.

[2020-11-10 15:20] slorber commented on #60
Hi @dcanora , can you please share your solution?

What I see in my case is that the CORS problem appears whenever caching in the fetched URL is enabled.

Have you tried running the download feature against a CDN (S3/CloudFront...) that has aggressive caching enabled?

This may fix the problem: `fetch(url,{cache: 'no-cache'})`

Note you have a memory leak in that feature, when calling createObject

[2020-11-10 16:04] dcanora commented on #60
Hi @slorber.  Thanks!  In my case, I'm accessing Google Cloud Storage and was able to configure CORS using gsutil.

https://cloud.google.com/storage/docs/configuring-cors

[2020-11-10 20:22] slorber commented on #60
We have configured the CDN to serve the appropriate headers, but it seems the fetch request does not send appropriate headers when caching is enabled.

Ie download work only the first time when the fetch request is not cached.

[2020-11-11 03:09] ryancybul opened #105 "Lightbox only displays loaded images on mobile (Gatsby)"
I'm running into an issue where the Lightbox will only display the images that have been lazy loaded on the page even though there are more images in the component.  Once I scroll down the page and new images are lazy loaded they will then display in the Lightbox along with any image that was lazy loaded before it.  If I set the Gatsby Image component to loading="eager" they will all load in the L

[2020-11-11 08:47] michelecocuccio commented on #105
@ryancybul I have tested Gatsby image on mobile with 15 images and I couldn't replicate the issue. There is no difference from mobile / desktop in this instance. The way I use Gatsby Image is the following:

[code]

Can you let me know how are you using Gatsby Img component?
Thanks

[2020-11-12 01:02] ryancybul commented on #105
@michelecocuccio Thanks for the quick response!  I'm doing something very similar with my image component (see below).  I did some more testing today to see if I could resolve the issue but I didn't have any luck.  Testing on my computer it works 100% but when I publish the site and test it on my iPhone and iPad is when encounter.  It's worth noting that published site will work fine on my laptop

[2020-11-12 08:42] michelecocuccio commented on #105
@ryancybul the code is not well formatted and it's a bit difficult to read. Please use triple backticks when embedding code on GitHub. Anyway I tested it on Android using Chrome and it works. I don't have an iPad or an iPhone so I will need to debug them later with some more tools. Is pretty difficult to debug the code on mobile device but I'll let you know once I do some testing.

[2020-11-13 02:07] ryancybul commented on #105
@michelecocuccio My apologies on the formatting!  I included triple backticks in my previous comment.  I'm 99% sure this is an iOS issue only as it only.  I reached out to a couple friends of mine who have Android devices and they are saying it works with no problems as well.  I'm still searching for a solution and will let you know what I find out.

[2020-11-15 21:28] endrureza opened #106 "Zoom In Behaviour"
Is there any way when i'm zooming in the image, all thumbnail, and control button is hidden except close and zoom out button ?

[2020-11-15 21:29] endrureza commented on #106
@michelecocuccio

[2020-11-15 21:30] endrureza opened #107 "Customize Next and Prev Button only Height and Position"
is there any way to only custom the height and position of next and prev button ?

[2020-11-15 21:30] endrureza commented on #107
@michelecocuccio

[2020-11-15 22:07] michelecocuccio commented on #106
@endrureza not at the moment. I will see if it's something I can add on the next release

[2020-11-15 22:07] #106 closed

[2020-11-15 22:08] michelecocuccio commented on #107
@endrureza each button has a class that you can target to use your custom styles

[2020-11-15 22:08] #107 closed

[2020-12-04 16:16] kubk opened #108 "Is there a way to filter images?"
I'd like to filter the images I want to add to the gallery. It looks like it's not possible now:
https://github.com/michelecocuccio/simple-react-lightbox/blob/2c63a856efc52cd1b22c564a2bf0d96dfabb92a3/src/SRL/SRLWrapper/index.js#L316

I'd be nice to have an option to override this selector. I'd like to change it to `img[data="gallery"]` and display only those images that contain the `gallery` data

[2020-12-04 16:33] michelecocuccio commented on #108
@kubk hello :)

This is already implemented and it will be available for the next release. It will be a feature available for the PRO version which I am shipping with the new free version as well. You will have an option to exclude some images by using a `SRLExclude` selector to the images you want to exclude.

Stay tuned for the update coming the next week or so.

Thanks

[2020-12-04 20:24] kubk commented on #108
@michelecocuccio Ok, thank you. I'll leave this issue open until the release if you don't mind.

[2020-12-08 17:01] irzhywau opened #109 "Cannot read property 'querySelectorAll' of null"
Hi,

I got this issue when I try to switch to another page which contains a lightbox.

I'm pretty sure it's due to react lifecycle that is not well digested by the component which uses `useRef(null)` to reference the SRL container which getting destructed when the component is being to unmount.

https://github.com/michelecocuccio/simple-react-lightbox/blob/e5c821865edcf2ec378f85b238fb3eeed0fadf91/

[2020-12-08 17:17] michelecocuccio commented on #109
@irzhywau thanks.

I never had such issue or anything similar wasn't reported before.
Can you be more specific on what you are exactly doing? You are using a Router to switch on a new page which contains a lightbox? I think the part you referenced about the ref has nothing to do with it. The querySelectorAll seems to be the problem.

I have updated the codebase quite a lot and I am about to releas

[2020-12-08 17:22] irzhywau commented on #109
yes indeed I use `react-router`. One of the page use `simple-react-lightbox`
I know `querySelectorAll` is the problem, the only place it's being in use in inside `handleDetectTypeOfElements` function.

Unfortunately I don't have any trace of the issue, only the headline.

I tried to set the change and build in my local env and seems working ok. though I created a PR with the few changes if you can

[2020-12-08 17:22] irzhywau commented on #109
btw, thank you for this amazing work. It really rocks!

[2020-12-09 18:26] Papidev opened #111 "<img> not shown if wrapped in a <picture> element"
Hi everyone
I noticed that an `<img> ` is not shown in the lightbox if it's wrapped in a ` <picture> ` element
Only its caption is visualized, both on Firefox and on Chrome.
If I comment the `<picture>` ( and the  `<source>` element), leaving only the bare `<img>` tag,  the lightbox works as usual.

I created this Next.js [Sandbox](https://codesandbox.io/s/amazing-brahmagupta-24n2o) to show the pr

[2020-12-09 20:58] michelecocuccio commented on #111
Hey @Papidev.

I have tested the lightbox with just the picture tag like this
[code]
It seems like you are using too many different things (a <figure>, a <a> and the <picture>). Is there a reason for that? Just the <picture> should be fine. Please note that if you resize the browser, the picture will change but you will see a wrong image clicking on the lightbox. This is normal as I can't find a w

[2020-12-09 20:58] #111 closed

[2020-12-10 09:34] Papidev commented on #111
Hi Michele
I would like to use `<figure>` to treat the image and its caption as a single entity.
The `<a>` tag , on the other hand , was there because I initially followed your example about the gallery with thumbnails, but I realized that probably I don't need it.
And if I remove the <a> tag , it works.

[code]

About the fact that the clicked image doesn't always match the lightbox image, yes I'

[2020-12-10 10:12] michelecocuccio commented on #111
@Papidev thanks for the clarification.

So does it work with the `<figure>` now? Yes unfortunately is really annoying as JavaScript doesn't change the `src` of the pictures straight away in the DOM, otherwise my lightbox would have pick it up because I am currently targeting the `currentSrc` property. I will have a look in the near future how can this be achieved :)

Thanks a lot

[2020-12-15 16:33] michelecocuccio commented on #108
Hello.

this feature has been added to the PRO version of Simple React Lightbox.
You can find out more on the [Simple React Lightbox website](https://simple-react-lightbox.dev).

[2020-12-15 16:33] #108 closed

[2020-12-15 16:34] michelecocuccio commented on #97
Hello.

this feature has been added with the version 3.5.0.
The documentation has been updated as well.

Thanks

[2020-12-15 16:34] #97 closed

[2020-12-15 16:35] michelecocuccio commented on #102
Hello.

this has been fixed with the version 3.5.0.
The documentation has been updated as well.

Thanks

[2020-12-15 16:35] #102 closed

[2020-12-15 16:35] michelecocuccio commented on #103
Hello.

this feature has been added to the PRO version of Simple React Lightbox.
You can find out more on the [Simple React Lightbox website](https://simple-react-lightbox.dev).

[2020-12-15 16:35] #103 closed

[2020-12-15 16:36] michelecocuccio commented on #109
Hello.

this has been fixed with the version 3.5.0.
Can you please let me know if you still have this issue?

Thanks

[2020-12-17 05:33] irzhywau commented on #109
@michelecocuccio it looks good, no more error with same implementation
thank you
btw, what was the issue that may cause this?

[2020-12-17 08:05] #109 closed

[2020-12-17 08:08] michelecocuccio commented on #109
@irzhywau I refactored a lot of code, ad moved the logic inside multiple UseEffect hook (some depends on the data that changes, some don't). In this way during lifecycles methods there shouldn't be any problem as everything is loaded.

[2020-12-18 06:35] pdugan20 opened #113 "Opening lightbox causing page content to jump right"
**Describe the bug**
The entire page jumps to the right when you open the lightbox because the scrollbar width isn't being offset.

**Environment**
Using NextJS (10.0.0) with version 3.5.0.

**To Reproduce**
Please include steps to reproduce the behavior:
1. Open the lightbox on any page that can scroll horizontally.

**Screenshots**
https://user-images.githubusercontent.com/1837100/102582593-c8fa

[2020-12-18 06:36] pdugan20 commented on #113
I'm guessing related to:
https://github.com/michelecocuccio/simple-react-lightbox/commit/bca0e6332aefc5994d2fb9dcfb064e44d084a220

[2020-12-18 11:02] michelecocuccio commented on #113
@pdugan20 thanks this has now been fixed in version 3.5.1.
Could you please confirm and close the issue if the issue is fixed? Thanks

[2020-12-18 11:11] michelecocuccio commented on #113
@pdugan20 hello.

This is not a bug but is intended. I guess you are using a touchpad? If you plug a mouse you will see that the compensation for the scrollbar is intended. When using a touchpad the behaviour of the scrollbar on a Mac changes.

[2020-12-18 15:58] pdugan20 commented on #113
Thanks for the quick turnaround! Also did the default transitions between images change? Looks like it's doing an easeIn now?

[2020-12-18 15:58] #113 closed

[2020-12-21 13:53] wholegroup opened #114 "Can't set images with no extension via props"
All images on our backend don't have extension.
We use `simple-react-lightbox` via props `<SRLWrapper elements={elements} />`
It worked before but starting with v3.5 it doesn't because of the new function
https://github.com/michelecocuccio/simple-react-lightbox/blob/3104a84e722a136c7a0d4104010dfbaf2c670b09/src/SRL/SRLWrapper/detect_types.js#L9
that returns false for urls without image extensions

[2020-12-21 16:26] michelecocuccio commented on #114
@wholegroup thanks for reporting this. It was working before as I wasn't doing any check using regex.

I am tempted to fix it but I am not sure that this is a bug. What I mean is that I am now checking the type of the file that the user provide to make sure that:

1. it's a valid image
2. it's not anything malicious

This is of course is a really basic check, nothing fancy. I don't have a way of d

[2020-12-22 06:52] wholegroup commented on #114
@michelecocuccio,

I think it's very common case in non public software (crm/erp/etc) to use urls like:
`https://some/url/file/{id}`
`https://some/url/file?id={id}`
Just because it's easy to implement such api controllers. There is no sense to have beautiful/seo urls.

Well I see now it is by design. It could be good to see some info about this filter in readme.

Thank you!

[2020-12-22 07:58] michelecocuccio commented on #114
@wholegroup ok thanks.
As it doesn't affect the lightbox too much I will release a fix soon by removing the regex check for now.
Thanks for explaining it to me.

[2020-12-24 17:55] goguda opened #115 "PRO Version: clicking video in bottom thumbnails seems to trigger close"
Clicking a video in the bottom thumbnails seems to trigger a close event for SRL. Simply clicking you can see the lightbox starts to fade like it's going to close but if released soon enough it will stay open. Holding the click for a bit longer triggers a complete close. This only happens with video thumbnails, image thumbnails are fine.

https://user-images.githubusercontent.com/26887502/10310181

[2020-12-24 19:01] michelecocuccio commented on #115
@goguda thank you for reporting this. Well spotted.
I have released a fix for the PRO version on version 1.0.4 which I have just released.

Merry Christmas 🎄

[2020-12-24 19:01] #115 closed

[2020-12-24 19:30] goguda commented on #115
Real quick fix - thank you!!!! Merry Christmas!!

[2020-12-30 07:56] lachlansleight opened #116 "ESLint error when adding custom properties to img and video tags in TypeScript environment"
**Describe the bug**
The following code:

[code]

Produces the following ESLint error:
[code]
Which seems to be the result of using the default video element with custom attributes. I can disable ESLint for these lines, but is there some way around this problem? I'm quite new to Typescript so I might just not be understanding something?

**Environment*
This is in a Next.js app with Typescript and

[2020-12-30 08:26] michelecocuccio commented on #116
@lachlansleight hello.

Simple React Lightbox doesn't use Typescript so the error is related to TypeScript and the fact the I have added custom attributes to a video. React type definition file (by default - index.d.ts when staring with create-react-app) contain list of all the standard HTML elements, as well as known attributes.

In order to allow custom HTML attributes, you need to define it's t

[2020-12-30 08:44] lachlansleight commented on #116
Thanks for the fast response!

I'll give that a go, but I think that this error is largely coming from the somewhat dubious practise (IMO) of repurposing normal HTML elements to do extra things. I feel like really these should be custom components, so that my example script would be written something like

[code]

I suppose that's just feedback on the library in-general, but this would also make i

[2020-12-30 09:05] michelecocuccio commented on #116
@lachlansleight thanks for the Feedback.

I get your point and I really appreciate it in fact I was dubious too!!! I did a little bit of research before implementing the new features and there is nothing wrong adding custom attributes to some HTML tags. In facts HTML5 was an important release as it fully support custom attributes.

I totally agree with you that using a Component would be more Reac

[2021-01-01 06:34] lachlansleight commented on #114
Just to chime in here, I have a situation which also is broken by this check - all my images are hosted on Firebase Storage, where the URLs look like this:

`https://firebasestorage.googleapis.com/v0/b/lscom-weeklog.appspot.com/o/2020%2F10%2F13%2FAutoBlinds_Assembly_1.jpeg?alt=media&token=164b863b-e5a3-4cdc-b63d-a95391ae1d7b`

So I'm also unable to use the props option. If you do end up reimplemen

[2021-01-01 06:51] lachlansleight commented on #116
I ended up fixing my problem according to Yaniv Peretz's answer to [this StackOverflow question](https://stackoverflow.com/questions/54869777/react-typescript-adding-custom-attribute) - by using the spread operator with the SRL props. So the final code looks like this:

[code]

---

If you are converting supplied HTML elements to custom React components behind the scenes, why not give users the op

[2021-01-01 07:08] lachlansleight opened #117 "Thumbnails + lightbox navigation broken when multiple (wrapped) FSRWrappers in a single page"
**Describe the bug**
I have a pretty common situation - multiple posts are displayed on a page, each with an associated image gallery. According to the documentation's recommendation, I wrapped my FSRWrapper component in a Gallery component. However, when I click on any of the images in any of the galleries on the page, the thumbnails displayed are for the last gallery rendered (at the bottom of t

[2021-01-01 08:38] michelecocuccio commented on #117
@lachlansleight hello.

There is a note in the [documentation](https://simple-react-lightbox.dev/documentation) saying that if you are using multiple Galleries you need to wrap each in it's own **`<SimpleReactLightbox>`** component which holds the context (not the `<SRLWrapper>`.

[code]

this should fix your issue. I will also edit the documentation to have a more complete example.

Thanks and ha

[2021-01-01 08:48] michelecocuccio commented on #114
@wholegroup @lachlansleight

Thanks for the feedbacks. This has been fixed in version 3.5.2 which I just released with this hotfix.

[2021-01-01 08:48] #114 closed

[2021-01-01 08:52] michelecocuccio commented on #116
@lachlansleight I am glad you have found a solution and thanks for providing the feedbacks.
I will consider maybe using a component approach in the future if it's worth it.

Thanks again :)

[2021-01-01 08:52] #116 closed

[2021-01-10 02:01] ondrejv opened #118 "Thumbnails version not showing big image with Gatsby image"
**Describe the bug**
Hi, I'm experiencing an issue with thumbnail image wrapped in an <a> tag with inner html tags like picture element or any other (gatsby image divs and picture element in my case, but figured is is broken with anything inside an a tag) - in that case, instead of big picture the small image thumbnail is shown in the lightbox.

Code which will fail can look like this:
[code]

**E

[2021-01-11 16:02] michelecocuccio commented on #118
@ondrejv hello!

How are you using Gatsby image? I have tested with the Gatsby image component and the structure I am getting is different from yours. There is no `<a href="">` wrapping the gatsy-wrapper div.

This is how I implemented with Gatsby Image
[code]

and this is the output
![Screenshot 2021-01-11 at 16 58 10](https://user-images.githubusercontent.com/8071249/104205431-a9dd1800-542e-11eb

[2021-01-11 20:36] ondrejv commented on #118
Hi @michelecocuccio, thanks for your response.
I'm wrapping Gatsby image with link on my own from performance reasons, to provide small images as thumbnails whereas big images should be loaded via your lightbox just on users's click. If you take a look at the link: https://codesandbox.io/s/simple-react-lightbox-forked-5jcdt - only allowed element is the `<img>` directly in the `<a>` wrapper. Knowi

[2021-01-11 23:53] michelecocuccio commented on #118
@ondrejv hello.

I have found that Gatsby has a very very odd behaviour that I wasn't ever expecting to find. I have added a small fix in version 3.5.3 which I have released. Can you try it again and let me know? Is not the best of the best but I will work on a better solution.

[2021-01-12 10:18] ondrejv commented on #118
Thanks for the fix! We are almost there :-)
Only issue remains, that it counts with the exact class called `gatsby-image-wrapper`, but in fact, Gatsby generates this class with a gap: "` gatsby-image-wrapper`" (also in your screenshot, I posted not really precise example initially). This actually, causes the js code fails to load a big image. See the following updated demo: https://codesandbox.io/

[2021-01-12 21:07] michelecocuccio commented on #118
@ondrejv I did some more testing today and I had to optimise the code a little bit better as it was breaking the "normal" implementation with Gatsby. I have released a new fix with version 3.5.4. Could you please let me know? It should be fixed.

[2021-01-13 07:47] ondrejv commented on #118
Awesome! Works like a charm :-)
Your support is excellent - that's another reason to go pro ;-)

Cheers and have a nice day.

[2021-01-13 07:47] #118 closed

[2021-01-13 09:19] michelecocuccio commented on #118
@ondrejv  thank you very much. I try to do my best. Please note that I have released the fix this morning in the PRO version so make sure you are on version 1.0.7 with the PRO version which should have the fix. Let me know if the issue persist in the PRO version as the codebase is slightly different from the FREE one.

Have a great day!

[2021-01-18 20:53] JeffMusgrave opened #119 "Zoom with scroll wheel causes image not to be zoomed from mouse position"
**Describe the bug**
On the demo website, after opening the lightbox and engaging the zoom function, using a scroll wheel to zoom causes the image to move diagonally from top left to bottom right.

**Environment**
demo site @ https://demo.simple-react-lightbox.dev/

**To Reproduce**
1. click thumbnail.
2. after lightbox opens, click the full size image to engage the zoom functionality
3. use scrol

[2021-01-19 08:26] michelecocuccio commented on #119
Hello @JeffMusgrave.

Thank you very much for this. I am aware of this bug which unfortunately comes from an external package that hasn't fixed it yet. I am in the process of making some optimisation in general to the lightbox and it should also either fix this or change the library entirely.

But in reality is not really a bug as the zoom functionality is working, is just not zooming starting fro

[2021-01-19 08:27] #117 closed

[2021-01-19 08:27] #105 closed

[2021-01-22 14:26] cristinabuenahora opened #120 "Quirks on mobile"
**Description**
A couple quirks on mobile. When I expand an image:
- I can still scroll the content in the background.
- When you pinch and zoom, you lose the x instead of just zooming the image and keeping the x in the right corner.

**Environment**
Using Node version 12.16.1 and React version 16.13.1

**To Reproduce**
1. On your phone, go to https://demo.simple-react-lightbox.dev/
2. Click on an

[2021-01-22 16:23] michelecocuccio commented on #120
@cristinabuenahora hello and thanks for flagging this.

Could I ask you which device are you using? Is it Android or IOS? And which version of Android / IOS? I have tested on android and I can't reproduce the scrolling issue. In regards of the pinch-to-zoom again I couldn't reproduce the behaviour as in my case it only zoom the image.

I think this could also depend on how you set the `[<meta name

[2021-01-22 16:39] cristinabuenahora commented on #120
Hey Michele - I'm using safari on an iPhone x (14.3) and an iPhone 8 (also 14.3).

In the HTML, we have <meta name="viewport" content="width=device-width, initial-scale=1">

[2021-01-24 19:06] ondrejv opened #121 "Gatsby image - Lightbox not fired when thumbnails not lazy-loaded yet"
**Describe the bug**
Hi, I'm experiencing an issue when thumbnails within a page are not loaded - are somewhere down the page, e.g. one at top of the page, another one at the bottom. In such case, lightbox doesn't work - thumbnails are not clickable and lightbox is not fired.
You can take a look here: [https://codesandbox.io/s/dreamy-galileo-eobi0](https://codesandbox.io/s/dreamy-galileo-eobi0) ([

[2021-01-25 09:19] ondrejv commented on #121
I just tried it without thumbnail images in the lightbox, but to no avail - the misbehavior is the same.

[2021-01-25 09:40] michelecocuccio commented on #121
@ondrejv hello, thanks for this and for the detailed example on CodeSandbox is very appreciated.

I have identified the issue and I am trying to apply a fix. The problem is due to Gatsby and images that are lazy loaded. This makes impossibile for the document to wait for the images to be fully loaded and it conflicts with the function that I have created to wait until images are loaded in the DOM.

[2021-01-26 02:05] Mites88 commented on #121
I noticed that too while building my site and AFAIK this is the only lightbox library that works well with Gatsby. Would be a huge deal if this could be fixed.

As a quick workaround you can give each thumb its own wrapper. But you lose navigation funcionality.

[2021-01-26 08:39] michelecocuccio commented on #121
@Mites88 I understand the frustration, unfortunately this is not entirely up to me but the way lazy loading images works with Gatsby in the DOM. I am trying my best to find a fix.

[2021-01-26 09:12] Orca-web opened #123 "A little suggestion to make simple-react-lightbox better"
I suggest simple-react-lightbox ignore the avatar. In fact, clicking on the avatar becomes a blank page.

![image](https://user-images.githubusercontent.com/59247295/105824618-8eab0480-5ff9-11eb-894f-468560decadf.png)
![image](https://user-images.githubusercontent.com/59247295/105824460-57d4ee80-5ff9-11eb-8ac2-e6b895d45bb9.png)

[2021-01-26 09:17] michelecocuccio commented on #123
@Orca-web thanks but this don't make any sense unfortunately. You need to elaborate more, and show me an example.

Which "avatar"? You need to show me how are you implementing the code first as I don't understand what you are doing.

Thanks

[2021-01-26 10:21] Orca-web commented on #123
I want to implement an Instagram-like post page, which contains posts, articles and comments.

PostDialog is a component that contains code for posts, articles, and comments.

Now import the PostDialog  and  simple-react-lightbox component into the  **Postpage** .

code:

[code]

PostDialog code:

[code]

**_I also try to insert simple-react-lightbox into PostDialog, but it will cause style errors

[2021-01-26 10:49] michelecocuccio commented on #123
@Orca-web sorry but it's still impossible for me to help with personal projects.

If you want to exclude a specific image from the lightbox you will need to use the[ PRO version](https://simple-react-lightbox.dev/) of Simple React Lightbox which gives you a custom attribute to exclude the images you don't want to show in the lightbox.

Hope this elpes

[2021-01-26 10:49] #123 closed

[2021-01-27 11:53] Kvintus commented on #118
Had a problem with this in December and therefore couldn't get a good score on a site. Thank you very much for fixing it. :) bought PRO immediately

[2021-01-28 00:15] cristinabuenahora commented on #120
Hey Michele - Just following up, have you had a chance to take a look?

[2021-01-28 00:27] michelecocuccio commented on #120
@cristinabuenahora hello. I have forgot to reply.

The scrolling issue on mobile has been fixed in version 3.5.6. If you update the package you shouldn't have the issue anymore. In regards of the pinch to zoom at the moment is just behaving like a normal page on mobile, so it's scaling the page up. There is no particular functionality related to the pinch to zoom unless you tap on the picture firs

[2021-01-28 00:27] #120 closed

[2021-01-28 00:28] cristinabuenahora commented on #120
Sounds good! Thanks Michele. Appreciate your help.

[2021-01-29 03:29] felipenmoura commented on #82
I was looking for a way to have a link that will download the image with a specific name and I couldn't find a way to specify the filename and extension in the documentation.
It's name is always `download` and if the image is in a `webp` format, it does not add the extension!

[2021-01-29 08:43] michelecocuccio commented on #82
@felipenmoura hello.

I can have a look at this. I should be able to change the "download" name when downloading an image. In regards of using a custom name I am not sure this will be an option but I will have a look.

[2021-01-29 09:18] Karlos137 commented on #121
@michelecocuccio Hello, I'm experiencing the same issue but with Next.js (9.5.2). Switching to an older version of the Lightbox, such as v3.3.4-2, solves the issue for me. But there is another issue with this older version. In Chrome v88, images in the lightbox are displayed with the wrong aspect ratio (the width of the image is lower and image is displayed incorrectly).

[2021-01-29 09:24] michelecocuccio commented on #121
@Karlos137 hello.

Unfortunately lazy-loaded images and JavaScript Promises don't go along well and also both NextJS and Gatsby do a lot of things with the image itself. I am trying very very HARD to fix the issue but I don't see a way out for now. Don't use older versions as of course they have bugs that have been fixed over the time.

[2021-01-29 09:34] Karlos137 commented on #121
@michelecocuccio Thank you very much. The older version I mentioned worked very well in all browsers till now. Now - but only in Chrome 88 - there is bug with image ratio. Everything else works perfectly for me. Newest version (3.5.5) does not have this image ratio bug in Chrome 88, but does not open at all on click till I scroll down the page to display all images first.

So it looks like there i

[2021-01-29 09:48] Karlos137 commented on #121
@michelecocuccio I don't have any bugs in the Safari (14.0.2) btw. Neither on the newest nor the older version of simple-react-lightbox. The image ratio bug in the older versions might be caused by the newly added support of the aspect-ratio property in Chrome 88.

[2021-01-29 09:52] Karlos137 commented on #121
@michelecocuccio Also, this site - https://mobilizujeme.cz/clanky/xiaomi-mi-watch-lite-recenze - is currently using simple-react-lightbox v3.5.5 and next v9.5.2, if you want to test it out.

Thank you.

[2021-01-29 11:00] michelecocuccio commented on #121
@Karlos137  thanks for this.

I haven't been able to reproduce the image ratio bug. Also could we keep it as a separate issue for now? I think I will keep the focus on this to be the "lazy" loading bug. As I have mentioned I have been working hard but I have my actual job to do so I will try my best to find a way to fix it and let you know my progress.

Thanks a lot :)

[2021-01-29 11:18] Karlos137 commented on #121
@michelecocuccio Yes, of course, thank you very much.

I also have live site, where you can see the ratio bug and no "lazy" loading bug - https://hoteldolina.eu/galeria/izby-hotel-dolina

It is running on simple-react-lightbox v3.3.3 and gatsby v2.22.15.

Perhaps this information will help to resolve the bug soon.
Thank you

[2021-01-29 12:17] michelecocuccio commented on #121
@Karlos137 thanks for that.

In regard of the ratio if you want to add a quick fix to make your website work you could override your CSS to remove     "aspect-ratio: auto 533 / 800". The image has a class of `SRLImage` and you can add a class of "width: 100% !important".

[2021-01-29 12:22] felipenmoura commented on #82
Thanks @michelecocuccio
Also...I noticed .webp images are downloaded without the extension, becoming "invalid" files. For us, devs, it's ok, but for regular people, it's complicated to ask them to add the extension after downloading the file, you know.

Thanks for the attention 😊

[2021-01-29 12:38] Karlos137 commented on #121
@michelecocuccio Thank you, I'll try! :)

[2021-01-31 16:16] ian opened #124 "Provide a className override on images, thumbnails and buttons"
Directly modifying CSS properties is so old school ;)

Adding the ability to provide a className to each of the elements would make this Tailwind CSS compatible.

[2021-01-31 16:20] michelecocuccio commented on #124
@ian hello.

While I appreciate the feedback, please restrain yourself from comment like "is so old school ;)" as they really don't add much to your feedback. I am already working on this and it will be available on the next release.

Thanks

[2021-01-31 16:20] #124 closed

[2021-01-31 16:21] ian commented on #124
Just trying to add some humor, apologies if you found it offensive.

Thanks for your work on this project.

[2021-02-01 05:41] sbarer opened #125 "Adding Arrows and/or Slider indicator to thumbnails"
Hey, thanks for building this package. Its really awesome!

I've implemented it in my website, and have noticed that the only way to move around in the thumbnails is to drag and scroll.
I feel that this isn't very intuitive, and there isnt any sort of progress slider.
It would be really great if there could be forward & back arrows on either side of the thumbnails that when clicked do a "batch" mo

[2021-02-01 21:19] michelecocuccio commented on #121
@ondrejv @Karlos137

this bug should be now fixed in version 3.6.0. I have tested with Gatsby lazy loaded images and it should work as well with NextJS images. Could you please let me know? Thanks

[2021-02-01 21:19] #119 closed

[2021-02-02 10:00] ondrejv commented on #121
You nailed it! 3.6.0 and 3.6.1 seems to do the trick: https://eobi0.sse.codesandbox.io/
Awesome!

[2021-02-04 15:05] Mites88 commented on #121
Works flawlessly. Thank you @michelecocuccio!

[2021-02-04 17:37] #121 closed

[2021-02-05 02:49] fallenmel opened #127 "SRLWrapper multiple ->Maximum update depth exceeded."
when creating two groups on SRLWrapper this happens. I'm using it on a dropzone like component

[2021-02-05 03:01] fallenmel commented on #127
will close this, it's on the documentation thanks

[2021-02-05 03:01] #127 closed

[2021-02-09 21:15] sbarer opened #128 "Ability to trigger the lightbox WITHOUT SRLWrapper around content, ideally with an onClick"
**Describe the bug**
I'm using a separate library to display my images, egjs/react-infinitegrid, which isn't playing nice with your library.
Unfortunately, wrapping the inifiniteGrid with the SRLWrapper inhibits its ability to load new images/content when the user scrolls down.
I was wondering if theres a way to trigger your lightbox with an onClick-type function, where an SRLWrapper isn't require

[2021-02-09 23:16] michelecocuccio commented on #128
@sbarer hello.

The hook I have provided is working as intended, I have tested it with the last release and it works so I am not sure what you are doing wrong in your code. Everything seems fine but if I can't test the code is impossible for me to see what's wrong.
Also you don't need to convert the number to a string but that shouldn't be the issue. Have you wrapped your entire app with the `<Sim

[2021-02-10 00:33] sbarer commented on #128
I see. Thank you for your help. After extensive fiddling, I was able to get it to work.
However, In future iterations of this library, I'd love for there to be a way to trigger the lightbox without having to put the content within the SRLWrapper, as that can mess with other components. I feel like there should be a way to just explicitly feed the lightbox a reference to the array of images, and th

[2021-02-10 09:35] michelecocuccio commented on #128
@sbarer you can pass the `<SRLWrapper>` component is the core logic behind Simple React Lightbox. You don't need to pass image inside it if you don't want to. There is an option to use the Simple React Lightbox with an array of images already, and it's also [documented here](https://simple-react-lightbox.dev/documentation/with-props). There is also a working example in the [demo website.](https://

[2021-02-10 09:35] #128 closed

[2021-02-10 19:13] sbarer commented on #128
amazing, thats exactly what I was needing. thank you so much!

[2021-02-14 00:12] jonaxd1 opened #129 "Is there anyway to add custom actions/buttons like "Favorite"?"
![image](https://user-images.githubusercontent.com/34318586/107864908-e41f4800-6e26-11eb-9405-49f46ac7fae8.png)

[2021-02-14 10:58] michelecocuccio commented on #129
Hello @jonaxd1.

You can use React and JavaScript to create a new "like/favourite" functionality.
At the moment there is no way to add custom buttons as the scope of the lightbox is just to display images. You can use JavaScript to put a new button next to the others and adds any function you like to it.

Thanks

[2021-02-14 10:58] #129 closed

[2021-02-16 17:02] Karlos137 commented on #121
Thank you, works great for me now :)

[2021-02-22 14:52] stressed-pet-owner opened #130 "Any guide on how to configure this on Gatsby?"
Tried wrapping my gatsby-browser.js with it

[code]

and in my gallery component
[code]

It's working, but the image in the lightbox is so small, the thumbnails when the lightbox is active is not correct, and have lots of warning and errors in the console.

[2021-02-23 00:35] stressed-pet-owner commented on #130
I did this, but the thumbnail is still different from the main image.

https://share.getcloudapp.com/jkuevxQd

and the warnings

https://share.getcloudapp.com/Jru1O0Gd

[2021-02-23 00:44] michelecocuccio commented on #130
@stressed-pet-owner

can you reproduce your code in a CodeSandbox please? In regards of the warnings I am not sure they are related to the lightbox as I don't have the same warnings. Also could you please confirm that you are using the latest version?

I will have a look once you can demo the code on CodeSandbox as it's a bit difficult to understand from just two images.

Thanks

[2021-02-23 00:50] stressed-pet-owner commented on #130
@michelecocuccio

I don't think I can run this on CodeSandbox, but here's the repo: https://github.com/ramojej/dd-source-technologies

[2021-02-23 01:11] stressed-pet-owner commented on #130
@michelecocuccio

I will just hide the thumbnails..

[code]

Right? It's still showing..

[2021-02-23 02:50] stressed-pet-owner commented on #130
@michelecocuccio

the thumbnails and the image is not synced. Please see it here: https://eloquent-bassi-0b077d.netlify.app/divisions/

[2021-02-23 09:07] michelecocuccio commented on #130
@stressed-pet-owner I can't run an entire repo unfortunately. You should run a reproducible code on CodeSandbox as everyone do when they have an issue.

In regards of hiding the thumbnails you are using the wrong option.

[code]

please read the [documentation carefully](https://simple-react-lightbox.dev/documentation/options).
If you can reproduce a bare minimum example on CodeSandbox I will be h

[2021-02-23 09:54] michelecocuccio commented on #130
This is a test that I have just run using Gatsby

[code]

And as you can see the thumbnail and the images are indeed the correct ones. And there is nothing in the console as well.

<img width="1915" alt="Screenshot 2021-02-23 at 09 51 30" src="https://user-images.githubusercontent.com/8071249/108827091-0f3f2f80-75bd-11eb-8202-7bc63f8f4119.png">
<img width="1909" alt="Screenshot 2021-02-23 at 09 51

[2021-02-23 13:52] stressed-pet-owner commented on #130
@michelecocuccio

May I see what's in gatsby-browser.js? Thanks.

[2021-02-23 14:05] stressed-pet-owner commented on #130
https://www.loom.com/share/a2efb9b28d4b48e498b613f82b261e6c

IDK why this is happening... :( here's my code for this..

https://github.com/ramojej/dd-source-technologies/blob/master/src/components/Divisions/EachDivision.js

[2021-02-24 05:26] themudassarhassan opened #131 "Support for PDF Files"
First of all it is great package. Thanks to all.
What I think is missing is support for PDF files. Like if we have some images and pdfs, images will open but the pdf files do not open at all.

[2021-02-24 08:49] michelecocuccio commented on #131
@themudassarhassan thank you for your suggestion.

First of all could I please ask you to label the ticket as a "feature request" as this is not a "bug". Support for PDF and other type of content is being considered, but the lightbox was born to handle images and videos and that's its main purpose for now. I will keep you updated if I will add support for that in the future.

Thanks

[2021-02-24 08:49] #131 closed

[2021-02-24 09:17] themudassarhassan commented on #131
Thanks for your response.

[2021-03-03 14:00] laozhu commented on #62
Before official typing support, you can add below code block to `react-app-env.d.ts` or `next-env.d.ts` file as a workaround.

[code]

[2021-03-04 09:59] lucash-0 opened #132 "Customise download filename"
Currently when downloading a file it has the filename "download.png" (or whatever the prefix of the image is).

If we could implement an option for specifying filename within image elements (for example) that would be great!

I searched through the code here and found that the image download occurs through generating a data URI and putting it in an a tag which is then clicked via javascript.

[Thi

[2021-03-05 23:06] GP-95 opened #133 "Next.js Image component thumbnail"
**Describe the bug**

I'm rendering my thumbnails with the Next.js `<Image />` component and wrapping them in `<a>` tags to link back to the full resolution image for the lightbox. However the lightbox only renders the thumbnail and not the full resolution version which I linked in the `<a>` tag.

**Environment*

- React 17.0.1
- Next.js 10.0.6
- Google Chrome 88.0.4324.190
- Firefox 86.0
- Simple

[2021-03-06 10:04] michelecocuccio commented on #133
@GP-95 Hello, thanks for reporting this.
This will be fixed in the next release :)

[2021-03-06 10:23] michelecocuccio commented on #132
@lucash-0 hello thanks for the feedback.

I have already added this feature and it will be available on the next release. All image will have a file name of "SRL-Image-ID" where ID is the ID of the image (from 0 to n). You will have the option to change the "SRL-Image" bit of the file name and make it customisable.

Thanks a lot

[2021-03-10 01:13] dmorda opened #134 "Is it possible to embed an inframe?"
I have a client that would like to embed an iframe containing a Matterport 3d experience.

Example:
https://matterport.com/industries/gallery/home-inventory-documentation

Is that possible?

[2021-03-10 20:23] miladrasooli opened #135 "Zoom and pan bounces back to first position"
**Describe the bug**
When zooming on a large image , the image zooms in and if you want to pan to the areas outside the screen it just bounces back to the center of the image

**Environment*
Create React App

**To Reproduce**
Go to demo website, open an image , zoom in and try to pan anywhere , the image jumps back to its starting position instead of staying at where the user pans to

[2021-03-10 21:37] michelecocuccio commented on #133
@GP-95 hello.
I have added a fix in version 3.6.4. Please check the documentation [here](https://github.com/michelecocuccio/simple-react-lightbox#gallery-with-thumbnails). Adding the data-attribute to the Next image component should fix the issue.

Many thanks.

[2021-03-10 21:43] michelecocuccio commented on #132
@lucash-0 hello.

This has been added in version 3.6.4. Please check the documentation for the option `downloadedFileName`. Thanks

[2021-03-10 21:43] #132 closed

[2021-03-12 03:50] lucash-0 commented on #132
Hi, I can see that it has the filename idea has been implemented! However, in it's current state I don't think you can specify per image the filename correct e.g. passing an individual filename through usage with props (per image). For instance if I have an image with the filename "cat.png" and I wish to ensure the user can download that particular image as "cat.png" it doesn't seem to be possible

[2021-03-12 04:16] lucash-0 commented on #132
A workaround I found was to set have "downloadedFileName" be set with a state variable that can be updated based on what image the user is on. This can be done through a number of different ways depending on application use but I was able to use callbacks to grab the caption of the current image the user is viewing, updating the state and thus updating downloadedFileName. It is still a prefix and

[2021-03-12 07:30] michelecocuccio commented on #132
@lucash-0 at the moment I don't feel like focusing on this too much. The only way to achieve this will be passing a custom attribute to the image which will be used as a download name. Remember that i have no control over the images a user pass to the lightbox as they are just wrapped in a component which looks for the images itself. I was about to mention that you could use the callbacks to achie

[2021-03-12 14:17] miladrasooli commented on #135
Hi, thanks for quick reply,
I'm using the library with Google Chrome Version 89.0.4389.82 (Official Build) (64-bit) on Windows 10 20H2 64-bit
Here is a video which shows the problem I'm facing:

https://www.dropbox.com/s/j64blrn8jzruxt0/2021-03-12_17-40-30.mp4?dl=0

Thanks

[2021-03-13 08:27] michelecocuccio commented on #135
Hello @miladrasooli. At the moment this is how the panzoom work. You need to zoom in more in order to be able to pan the image. As I have mentioned, this is an external library that I am using so it doesn't fully depends on me but I am working to make the lightbox even better, so please check for further updates.

Many thanks

[2021-03-13 08:27] #135 closed

[2021-03-14 10:17] BerkeAras opened #136 "Feature-Request: Allow only selecting pictures with className"
# Feature Request:
Allow selecting pictures only when className is given (or not given).

## Why?
In combination with SwiperJS (for React) the loop option of SwiperJS is not usable. The loop option duplicates the images. If I have 2 images, the lightbox shows 4 images. The duplicated image gets a class.

[2021-03-17 16:17] wooller opened #137 "Support for testing"
**Describe the bug**
When trying to test this component there are a few errors. For example with React Testing Library, an exception is thrown inside this package when running in the js-dom environment.

`'observe' on 'MutationObserver': parameter 1 is not of type 'Node'`

Additionally when trying to execute tests using Enzyme. The package doesn't seem to respond to any onClick events.

**Environm

[2021-03-17 20:24] michelecocuccio commented on #137
@wooller thank you for this. I am aware the library is not very test-friendly at the moment. Unfortunately, I am working on another big project for my main job. I am looking forward to improve Simple React Lightbox and I will definitely add this in the near future.

[2021-03-18 09:11] wooller commented on #137
@michelecocuccio Thanks for the reply, i totally understand and appreciate the time involved. Looking forward to seeing future updates :)

[2021-03-18 12:37] DecadentIpsum opened #138 "Opening lightbox is pushing the page content to the right"
Describe the bug
The page moves to the right when you open the lightbox.

Environment
NextJS (10.0.6) with version 3.6.4.

To Reproduce
Please include steps to reproduce the behavior:

It happens on any page where I add the package. You can also check on your [codesandBox demo page](https://codesandbox.io/s/simple-react-lightboxss-39wrb?fontsize=10).

[2021-03-18 13:12] michelecocuccio commented on #138
@DecadentIpsum hello. This is not a bug, this is intended. As the scroll bar is removed the viewport adapts itself. If you don't like this behaviour you can use the [callback](https://simple-react-lightbox.dev/documentation/callbacks) `onLightboxOpened` and add a margin of `n` px to your html or body.

Thanks

[2021-03-18 13:12] #138 closed

[2021-03-18 13:14] DecadentIpsum commented on #138
Thanks a lot

[2021-03-18 16:28] DylanAlbertazzi opened #139 "Clicking on individual gallery image breaks when upgrading to PRO version"
**Describe the bug**
I bought the PRO version and changed nothing in my code except for the import statement. Now when I click on an image in the gallery nothing happens.

**Environment*
Please state if you are using Create React App, Gatsby or NextJS and their version. Include your version of Node and your version of React. Please also include the browser that you are using and possibly its versi

[2021-03-18 18:18] michelecocuccio commented on #139
@DylanAlbertazzi hello. I can't really tell what the issue is from these generic errors. The PRO version works just fine, I test every time I release a new version.

- Have you removed the free version of Simple React Lightbox?
- Have you changed **ALL** the imports to use `simple-react-lightbox-pro` (not only the `<SRLWrapper />` component but also the `<SimpleReactLightbox />` component that wra

[2021-03-18 18:55] DylanAlbertazzi commented on #139
@michelecocuccio I have don all those things, including removing my node modules.

What can I do to give you more information?

Thanks.

[2021-03-22 08:41] wattanapongjack commented on #100
Hi, do this feature include maximum scale when zoom in / zoom out ?

current i want to set maximum scale when zoom out to 1 (current it can zoom out less than 1)

does it has anyway to do it ?

[2021-03-24 07:01] akira108 opened #140 "Mixing image and video causes `Cannot read property 'parentElement' of null`"
**Describe the bug**
Hi, I'm building a gallery that consists of thumbnails of image and video with simple-react-lightbox-pro.
But mixing thumbnail `img` with `a` tag and `img` with `video` tag in same `SRLWrapper` gives me following error:
[code]

**Environment*
NextJS 10.0.3
simple-react-lightbox-pro 1.3.2
React 17.0.0
NodeJS 15.8.0

**To Reproduce**
Compose following html with simple-react-ligh

[2021-03-24 08:44] michelecocuccio commented on #140
@akira108  hello.

Thank you for this. I will have a look at the bug tonight and try to add a fix as soon as possible. Many thanks for reporting this.

[2021-03-24 21:18] michelecocuccio commented on #140
@akira108 hello.

This should be fixed in the version 1.3.3 of the PRO package. Could you upgrade it and let me know if the issue is fixed?
Many thanks

[2021-03-25 01:48] akira108 commented on #140
@michelecocuccio Hello.

I tried 1.3.4 and it is fixed!
I really appreciate your quick handling. And many thanks for making this great library.

[2021-03-26 14:54] guilhermebellotti opened #141 "CORS blocking videos"
**Describe the bug**
Hi guys, how are you?
I am trying to add a YouTube video inside the lightbox (I have the PRO version), but the video is not being displayed.
Looking at the browser console, I noticed that a CORS lock is occurring.

**Environment**
I'm use:
- GatsbyJS v2.32.6
- React v17.0.1
- NodeJS v14.16.0
- Google Chrome v89.0.4389.90
- OS Linux Ubuntu 18.04.5

**To Reproduce**
I followed t

[2021-03-26 15:16] michelecocuccio commented on #141
@guilhermebellotti hello.

Unfortunately there is nothing that I can do about it. This can depend by a number of reasons out of the scope of the package. The video is [working for me in my demo ](https://demo.simple-react-lightbox.dev/video-audio) (if you check the YouTube video it loads fine). The library that I am using for the video is called ["react-player"](https://www.npmjs.com/package/react

[2021-03-26 15:16] #141 closed

[2021-03-26 15:20] guilhermebellotti commented on #141
If change code to Img (Gatsby) to img (HTML), working. But not understend the motive 🤔

[code]

I think the problem is something with Img from Gatsby. But I also have no idea what can be

[2021-03-27 15:11] 7iomka commented on #140
@michelecocuccio Hi. Currently only images allowed inside <a> tag for youtube videos? I have my custom layout with self-prepared thumbnail image
It's possible to make work with your plugin?
![image](https://user-images.githubusercontent.com/18473137/112725160-771bc980-8f1f-11eb-95f5-d2767e52945f.png)

[2021-03-27 15:34] 7iomka opened #143 "Allow custom content inside anchor for online videos (youtube, etc..)"
Hi.
How I tested, currently (in Pro version of course) only images allowed inside tag for youtube videos.
I have my custom layout with self-prepared thumbnail image
It's possible to make work with your plugin?

Code sample:
[code]

If I use one image and sibling element (for example a div with text) - image will trigger modal with video, but div will trigger native link.
Why you not preventDefault

[2021-03-27 16:10] 7iomka commented on #143
My current workaround looks weird but it works.
Anyway I need cleanest solution, please.

[code]

[2021-03-27 19:12] michelecocuccio commented on #143
@7iomka hello.

If you need to open the lightbox from anything that is not an image, you can use the custom hook provided in the documentation.

Thanks

[2021-03-27 19:12] #143 closed

[2021-03-27 19:12] #140 closed

[2021-03-27 20:51] 7iomka commented on #143
@michelecocuccio This is not loyal answer to my question!
Any example how to do that with list of youtube video items when one item has layout as I provided above?
[code]
If I put handler on my custom inner layout it does not know it index in future usecase, because that is standalone component
[code]

With this when I use my component in loop by clicking on any item I will open first video each t

[2021-03-29 19:22] NRech opened #144 "Thumbnail navigation not working correctly!"
Hello! First, thank you so much for your great jog with the component!

Second, I'm having a really bad problem, the navigation with "Clicking the thumbs" is not working properly on mobile browsers and MacOS browsers. I click several times and nothing happens, very rarelly it works, and then stops again.

I'm using the basic usage with params, I followed everything the docs says. BTW, the example

[2021-03-29 20:56] michelecocuccio commented on #144
@NRech hello.

Could you be more specific on the versions that you are using? "mobile browsers" and "MacOS browsers" is a bit generic. I have tested it on Safari both on desktop and mobile on a iPhone and it works perfectly fine. Can you be more specific on the versions you are uising?

[2021-03-29 21:35] NRech commented on #144
You are right, I'm sorry, I was in such a hurry.

I tried in other phones (more updated) with Chrome and worked, my iPhone Xr, with Safari, and worked. I'll send the information of the device it didn't worked:

![photo_2021-03-29_18-25-42](https://user-images.githubusercontent.com/6012088/112902616-c64b3100-90bc-11eb-8669-588aaff64269.jpg)

It only happened when the thumb slider was needed, when t

[2021-03-30 06:22] michelecocuccio commented on #144
@NRech thanks for this.

I have just tested on an [Nexus 6 device](https://drive.google.com/file/d/1MZIsgKUpbOKqe6woPkKpsgPNv2YAIpS6/view) with the Chrome and it works fine. In general, is really difficult to cover every device, but the library should work on any newish device/browser. If you have a more specific list I will be happy to have a look. Thanks

[2021-03-30 06:22] #144 closed

[2021-03-30 17:53] DylanAlbertazzi opened #145 "[HMR] Waiting for update signal from WDS... - Hangup when debugging in vscode"
**Describe the bug**
When I try to launch my chrome debugger in vscode, the debugger gets hung up and stops the debugger from being able to run.
The debug console gives this message:
"[HMR] Waiting for update signal from WDS... "
And the file in simple-react-lightbox-pro where the hangup is.
![Screen Shot 2021-03-30 at 10 49 24 AM](https://user-images.githubusercontent.com/79280505/113033310-bb88a

[2021-03-30 22:36] michelecocuccio commented on #145
@DylanAlbertazzi hello.

Sorry but I don't have a clue as I never used Chrome debugger in VS Code. If the lightbox is working correctly in the actual app/website then I am afraid that I can't help with that.

Thanks

[2021-03-30 22:36] #145 closed

[2021-04-02 17:36] 7iomka opened #146 "Gatsby image as thumbnail for video-item - error Cannot read property 'href' of null"
[code]
```index.es.js:formatted:5467 Uncaught (in promise) TypeError: Cannot read property 'href' of null```

![Снимок экрана 2021-04-02 в 20 31 17](https://user-images.githubusercontent.com/18473137/113439258-e3e90500-93f2-11eb-8394-e22b109af7ac.png)

[2021-04-02 18:51] spaquis opened #147 "No image in gallery on Firefox"
**Describe the bug**
Hi,
I use your library with nextJS and it's work well on Google Chrome but i have a weird problem with firefox. The image in gallery is replaced by : `data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7`

**Environment*
simple-react-lightbox: 3.6.4
"next": "10.0.4"
Firefox: 86.0.1

**To Reproduce**

[code]

**Screenshots**
On Firefox : KO
![image](ht

[2021-04-03 08:03] michelecocuccio commented on #147
@spaquis hello.

First of all you can you please update the lightbox to the latest version? (3.6.5). After you do that you need to make sure that in case like this you add the `srl_gallery_image="true"` to the NextJS image component, or it won't pick up the image correctly.

[code]

please try it out and let me know.

[2021-04-03 08:03] #147 closed

[2021-04-03 08:44] spaquis commented on #147
It's works, thanks for your help

[2021-04-06 16:56] KonstantinSchuette commented on #95
I haven't got the issue as shown in the GIF, but as soon as I imported lightbox, my Lighthouse score dropped from 94 to 80.

[2021-04-07 11:02] iarmankhan commented on #132
@lucash-0 I tried with it, but it still shows the initial state, the options doesn't get updated on state update

[2021-04-07 13:38] KonstantinSchuette opened #148 "Gatsby zoom error"
**Describe the bug**
An error gets thrown in the browsers console, about 100 times per second, if you try to use the zoom function, by clicking on the gallery image:
[code]

**Environment*
`gatsby-info --clipboard`
[code]

**To Reproduce**
Code:
[code]
1. Run `gatsby develop`
2. Click on the image
3. If the gallery has opened up, click in the picture to use the "zoom" function.

Error in the brows

[2021-04-07 14:10] KonstantinSchuette opened #149 "Gatsby gatsby-plugin-image duplicated image"
**Describe the bug**
Images are shown multiple times in the gallery. The images have the same URL so they are exact duplicates:
![Image of Yaktocat](https://i.ibb.co/TwqC8HR/Screenshot-2021-04-07-160625.png)

**Environment*
`gatsby-info --clipboard`
[code]

**To Reproduce**
Code:
[code]
1. Run `gatsby develop`
2. Click on the image

Now Every image is shown twice in the gallery

[2021-04-07 14:23] michelecocuccio commented on #148
@KonstantinSchuette hello thanks for this.
I can't reproduce the issue.

This is how I am implementing the library with Gatsby

[code]

Could you please reproduce an example on CodeSandbox please so I can check the error?

[2021-04-07 14:24] michelecocuccio commented on #149
@KonstantinSchuette hello thanks for this.
I can't reproduce the issue.

This is how I am implementing the library with Gatsby

[code]

Could you please reproduce an example on CodeSandbox please so I can check the error?

[2021-04-07 20:12] sathyaram commented on #105
@michelecocuccio - Having this issue too still on iOS. I tried opening the lightbox on a iPhone 10 (Gatsby site, using ImageSharp) and only images that ALREADY lazy loaded actually show up in the lightbox.
On Android this is fine for some reason.
Test: https://sathyaram.com/portraits

[2021-04-09 01:40] KonstantinSchuette commented on #149
So first of all you are using `<Img>` from the plugin `gatsby-image` which is now deprecated. You should use `gatsby-plugin-image`. So instead of using `<Img>` you use `<GatsbyImage>` and the query also changes a bit.

In my Codesandbox example I now have the following problems:

1.  An image is duplicated in the gallery
2. About 50 errors per second are printed in the console, if you try to zoom

[2021-04-09 12:04] KonstantinSchuette commented on #149
Nevermind, just ignore the last sentence. I fixed it. Now its working fine

[2021-04-09 12:34] michelecocuccio commented on #149
@KonstantinSchuette thanks. I have noticed that the Gatsby plugin has changed so there might be some issues when using the new one. I will try to add a fix soon.

[2021-04-09 14:21] michelecocuccio commented on #149
Hello @KonstantinSchuette.

I have tested the library and it works with the lates version with Gatsy Plugin Image. Please follow [this documentation](https://simple-react-lightbox.dev/documentation/with-gatsby-image) to check how I implemented the lightbox with it.

Thanks

[2021-04-09 14:21] #149 closed

[2021-04-09 14:21] michelecocuccio commented on #148
Hello @KonstantinSchuette .

I have tested the library and it works with the lates version with Gatsy Plugin Image. I can't reproduce this issue. Please follow [this documentation](https://simple-react-lightbox.dev/documentation/with-gatsby-image) to check how I implemented the lightbox with it.

Thanks

[2021-04-09 14:21] #148 closed

[2021-04-09 16:02] michelecocuccio commented on #146
@7iomka hello.

Could you try to upgrade to version 1.3.7 of the PRO version and let me know if this is fixed?
This is the structure that I am using and it's working fine after the update.

[code]

[2021-04-12 19:52] KonstantinSchuette commented on #149
Soo I finally found out my error. If I remove the following plugin in the gatsby-config.ts everything works fine:
[code]
I also tried passing this to the `<SRLWrapper>` but it doesn't fix the bug, if the plugin is included
[code]

Also https://github.com/michelecocuccio/simple-react-lightbox/issues/148 gets fixed by removing this.

[2021-04-13 06:19] #133 closed

[2021-05-03 14:49] pateljoel commented on #32
Just tested this, this issue keeps happening for me but using this on the web.

[2021-05-07 07:25] UsamaAshraf82 opened #150 "Two separate lightbox for a single page"
I have a unique scenario where i have to use two separate lightbox for a single page

Image of scenario ![Opera Snapshot_2021-05-07_115708_localhost](https://user-images.githubusercontent.com/32302712/117411641-3a36ef80-af2d-11eb-9054-13af1e88772c.png)

when there is one lightbox every thing works fine when there is more than one lightbox thing get messy there
The Images get interchanging
The CPU

[2021-05-07 07:30] michelecocuccio commented on #150
@UsamaAshraf82 hello.

Please refer to [the documentation](https://simple-react-lightbox.dev/documentation/#multiple-lightbox-on-the-same-page) on how to implement 2 lightbox on the same page. You need two instances of the `<SimpleReactLightbox>
` component. In regards of the performance, I know at the moment the lightbox is not very optimised to handle multiple lightbox on the same page. This wil

[2021-05-07 07:30] #150 closed

[2021-05-09 19:19] TheBoringBOT opened #151 "Video not playing - Pro Version"
Using pro version and used code from example on site. Sometimes the video plays but usually the spinner continues to show and nothing happens. There is no error in console and the path is correct. Have you came across this?

I have my video in public/videos
And  code

        <source src="./videos/video.mp4" type="video/mp4" />

Also the controls are not possible to use. I see this also on your de

[2021-05-09 19:49] #151 closed

[2021-05-15 04:01] wildpow opened #152 "Prevent right click in lightbox"
Wondering if there is a way of preventing right click on images. I've done this in my custom gallery component with `          onContextMenu={(e) => e.preventDefault()}` but, it would be nice to have the option in the lightbox.

[2021-05-15 06:45] michelecocuccio commented on #152
@wildpow hello, thanks for the feedback.
As you noticed you can achieve this quite easily with JavaScript in generale. I don't think the lightbox should be in charge of something like that but I will consider if it's worth add this feature in the next release. Thanks a lot!

[2021-05-15 06:45] #152 closed

[2021-05-20 22:54] spaquis opened #153 "No blocking Error : Cannot read property 'parentElement' of null"
Hi,

**Describe the bug**
I have an error in navigator console when access screen with the gallery :
_offsetParent.parentElement_ => TypeError: Cannot read property 'parentElement' of null

**Environment*
NextJS

**To Reproduce**
[code]
It's work well but i have the error on console.

Can you tell me if somethings is wrong ?
Thanks in advance.

[2021-05-21 06:09] michelecocuccio commented on #153
@spaquis I just tested with nextjs and I can't see the error. I will try to do some more tests and see what's happening.

[2021-05-21 06:44] spaquis commented on #153
Thanks @michelecocuccio for your help.
In addition i'm using this version :
[code]

[2021-05-23 06:33] softshape opened #154 "How to add custom icons to a preview?"
Our designer made this prototype -

![image](https://user-images.githubusercontent.com/107505/119250576-9ce9e580-bbd3-11eb-9c3e-890682b9a1db.png)

assuming that we can add trash icon to the image preview. But can we? There's no mention in the docs how to add custom buttons to the interface. Any ideas would be appreciated.

[2021-05-23 07:29] michelecocuccio commented on #154
@softshape hello.

At the moment is not possible to add custom buttons using the options provided. If you are adding your custom button using JavaScript, I assume you could use any type of icon at that point.

Thanks

[2021-05-29 12:12] nemixe opened #155 "How to create multiple instance with hooks implementation"
i need to put multiple srl wrapper in a single page and one of it can be triggered with a button calling hooks `openLightbox` implementation, is that possible ?

[2021-05-29 13:15] michelecocuccio commented on #155
@nemixe hello.
You can't use multiple SRLWrapper in a single page. You need tu use multiple instances of the SimpleReactLightbox as stated in the documentation in order to have multiple galleries. Inside the instance you can have a button that open the images in the correspondent SRLWrapper.

Thanks

[2021-05-30 04:27] nemixe commented on #155
@michelecocuccio thanks for answering. okay so i move the simpleReactLightBox inside a component and that component have a button to open srlwrapper, i want to make sure does my approach is correct.

[code]

because it's seems doesnt work for me

[2021-05-30 08:03] michelecocuccio commented on #155
Your implementation is wrong unfortunately.

```<SimpleReactLightbox>``` must be higher than the hook, otherwise the hook will never work. You can create an High Order Component if you are familiar with React, or you just simply need to wrap ```<SimpleReactLightbox>``` higher than the ```useLightbox``` hook

[2021-05-30 11:37] nemixe commented on #155
thanks!, that works perfectly @michelecocuccio

[2021-05-30 17:28] michelecocuccio commented on #155
Glad I could help :)

[2021-05-30 17:30] #155 closed

[2021-06-01 09:32] tomsherlocked opened #156 "bug - inconsistent click-to-zoom behaviours for different sized images"
**Describe the bug**
I've noticed some inconsistent zoom behaviour with the lightbox open. With different sized images, the behaviour is different - larger images you can click to zoom (with what looks like the browser's native image zoom event), and other images (smaller) you attempt to click to zoom however the image just flashes as if refreshing and doesn't zoom.

**Environment*
Various environ

[2021-06-01 09:47] michelecocuccio commented on #156
@tomsherlocked thanks. I am in the process or refactoring the whole app, I will take a look at this when I come across it and I will try to reproduce the issue and improve it. Much appreciated.

[2021-06-01 10:46] tomsherlocked commented on #156
Hi @michelecocuccio - ok great, thanks for the speedy update!

[2021-06-01 18:00] Xorko opened #157 "Warning when using with another Emotion-dependent component"
I get the following warning from Emotion when I'm using another Emotion-dependent component (react-select in my case) and this one:
[code]

I think this is due to framer-motion because it depends on an older version of @emotion/is-prop-valid
Here's their dependency declaration:
[code]
Latest version is 1.1.0

It doesn't seem to cause any problem, my app still seems to work fine.

Environment:
Next

[2021-06-13 16:26] VsevolodEpinetov opened #158 "Next.JS Image tag not parsing"
**Describe the bug**
Next.JS Image tag is not being parsed by the Component if you are using 'Image with overlay' option. Instead of opening lightbox component it opens full image as a file upon clicking.

**Environment*
NextJS 10.1.1

**To Reproduce**
Please include steps to reproduce the behaviour:
1. Create Lightbox gallery using <Image> tag instead of <img> and using overlays
2. Click on any i

[2021-06-13 21:56] michelecocuccio commented on #158
@VsevolodEpinetov hello

I have released a quick fix in version 1.3.9 (PRO). Can you check if this is fixed now?

[2021-06-16 12:39] VsevolodEpinetov commented on #158
Hi, sorry for the delay, it is indeed works as intended now. Thank you for fast response!

[2021-06-16 12:39] #158 closed

[2021-06-27 18:16] guilhermefront commented on #62
Here's a PR for adding @types/simple-react-lightbox

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/54124

[2021-07-02 19:28] guilhermefront opened #159 "How to align the selected thumb to center?"
Currently the selected thumb goes to the left edge (see the image), but is possible to put it to the center?
![image](https://user-images.githubusercontent.com/49620737/124320437-4ff21b00-db52-11eb-86e5-40142abb8aa6.png)

[2021-07-02 20:09] michelecocuccio commented on #159
@guilhermefront hello, at the moment is not possibile to align thumbnail to the center on mobile. They follow the natural order from left to right. I will add an option in the future to allow alignment on mobile as well.

Thanks for asking

[2021-07-02 20:19] #159 closed

[2021-07-02 20:19] guilhermefront commented on #159
Ok! Thanks for answering :)

[2021-07-06 17:58] juozasm opened #160 "Safari: Fullscreen button doesn't close fullscreen, but opens it."
**Environment*
Mac os Big Sur Safari.

**To Reproduce**
Please include steps to reproduce the behaviour:
1. Go to safari browser on Mac os
2. Click on fullscreen btn, it will turn on fullscreen
3.  Click on fullscreen btn again, it will NOT turn on fullscreen

[2021-07-06 18:34] michelecocuccio commented on #160
@juozasm hello. Thanks for reporting this.

This is currently a limitation of Safari. I am already working on a workaround on this but at the moment if you want to exit fullscreen on Safari you need to press the Escape key

[2021-07-06 18:34] #160 closed

[2021-07-15 16:32] KonstantinSchuette opened #161 "Image duplicated"
**Describe the bug**
Images are shown multiple times in the gallery. The images have the same URL so they are exact duplicates:
![Anmerkung 2021-07-15 182730](https://user-images.githubusercontent.com/18708105/125824233-ddea4fe1-8963-494d-b035-e9b5f0f5a5e7.png)

**Environment*
[code]

**To Reproduce**
Run my repo: https://github.com/KonstantinSchuette/simple-react-lightbox-bug
or just add this plu

[2021-07-17 15:56] msiric opened #162 "Implementing infinite scroll breaks the "custom captions" functionality"
**Describe the bug**
Please describe the bug and how/when happens. Try to be concise and describe clearly the action that you have taken prior to encountering the bug.

This is how my component looks like:

[code]

When the component first mounts, I fetch the first 10 images to display to the user. I render images directly inside the `<SRLWrapper>` component and split the captions in a separate ar

[2021-07-19 18:38] medJemmoudi commented on #161
If you're using thumbnails, it's normal. You should add the property srl_exclude (works only in the pro version)

[2021-07-21 08:58] KonstantinSchuette commented on #161
This makes absolutely no sense. I get what `srl_exclude` should be used for, but the gallery works fine without preact and `srl_exclude`. So when I want to add preact, only then I need `srl_exclude`?

[2021-07-29 11:11] iamkratos commented on #161
I'm also having this issue after following the instructions to set this up with Gatsby

[2021-08-09 19:22] alkalynesolutions commented on #161
I'm also experiencing the same issue with Gatsby and Preact. Uninstalling Preact gets rid of the doubled thumbnail images

[2021-08-10 05:47] michelecocuccio commented on #161
Hello,

I think Gatsby has changed the way they rendere their image using the Gatsby Image component. I will have a look but unfortunately I just had a family loss and I am not in a position of working properly on the library. I will try to have a look this weekend. Thanks

[2021-08-15 02:18] atawfique21 opened #163 "Random image data between two images"
**Describe the bug**
I have <SRLWrapper> around a component that has two images. A header image and a profile picture. When opening the lightbox, inbetween these two images is a ghost image and copying the image source leaves me with:
`data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0IiBoZWlnaHQ9IjE0NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=`

**Environment*
NextJS 11.1.

[2021-08-15 16:38] michelecocuccio commented on #163
@atawfique21 hello, this has been fixed in version 3.6.7. Please update the version in order to see the fix.

Thanks

[2021-08-15 16:38] #163 closed

[2021-08-16 01:00] atawfique21 commented on #163
Hey there,

I updated to 3.6.7, and the issue still persists. However, I am having an issue with NPM update which keeps returning these errors from this package and react-zoom-pan-pinch.

I tried to manually set `react` & `react-dom` to `^17.0.1` as a comment left here: https://github.com/prc5/react-zoom-pan-pinch/issues/183 referenced that react-zoom-pan-pinch behaves well with that version but t

[2021-08-16 01:17] atawfique21 commented on #163
In case you need my `package.json`:

[code]

[2021-08-17 18:12] n-for-all opened #164 "Is it possible to get a clean build without the extra libraries included?, 300kb script is quite expensive for a lightbox"
**Describe the bug**
Please describe the bug and how/when happens. Try to be concise and describe clearly the action that you have taken prior to encountering the bug.

**Environment*
Please state if you are using Create React App, Gatsby or NextJS and their version. Include your version of Node and your version of React. Please also include the browser that you are using and possibly its version.

[2021-08-17 20:42] michelecocuccio commented on #164
@n-for-all hello, I am in the process of rebuilding the library from scratch. It will be more performant and super small but at the moment I am having some personal issues so I don't know when it will be finished. Also please don't mark an issue as a "bug" if it's just a "question". Thanks

[2021-08-17 20:42] #164 closed

[2021-08-17 21:08] atawfique21 opened #165 "3.6.7 still has ghost image"
**Describe the bug**
This is a follow up to closed ticket: #163
Over the past few days, I've been trying to fix the same issue but running into problems. I've included my environment again, this time with node_modules/simple-react-lightbox. I was on `v3.6.6` of SRL as of ticket #163 but updating to `3.6.7` using `npm update simple-react-lightbox` and restarting `next dev` did not fix the issue. I

[2021-08-18 15:59] michelecocuccio commented on #165
Hello, I don't have any issues with Next.js ghost images. The "ghost" PNG and SVG coming from the Next.js have been excluded and they are not taken in consideration when the lightbox start. I have tested it in three different demos with Next.js and I can't reproduce the issue. I have released a new version just now (3.6.8) where I updated some outdated dependencies. Can you let me know if you stil

[2021-08-18 17:10] atawfique21 commented on #165
Hi there,

I updated the package to 3.6.8 and when running `npm update`, there were no dependency errors present. Thank you for resolving that issue. However, the 'ghost' image is still present and the link to the image remains the same:
`data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0IiBoZWlnaHQ9IjE0NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=`

I have tried deleting pa

[2021-08-18 18:08] michelecocuccio commented on #165
@atawfique21 I am well aware what the issue is, and I know the this SVG should never be present. I am working to solve this issue as Next.js has recently changed its component again. Thanks

[2021-08-18 21:44] michelecocuccio commented on #165
@atawfique21 I have released version 3.6.9-0. It should exclude all the image with "aria-hidden" so it should automatically exclude any Next.js ghost image. Please let me know.

[2021-08-18 22:16] atawfique21 commented on #165
Great work. Version 3.6.9-0 fixed the issue!

Thanks!

[2021-08-18 22:16] #165 closed

[2021-08-28 09:15] dwise85 opened #166 "Request: Ability to add attribute/class to areas that should be ignored"
The library has been working great for me thus far, but I've recently brought in a more complex component that is a child of the SRLWrapper, which has many small icons and such that are being loaded into the gallery. This isn't ideal, and I've tried various ways to finagle the Wrapper to smaller areas of the component tree but can't get it quite perfect. Ideally, we'd have some way to label images